<mat-card class="example-card">
   <img mat-card-image src="{{ srcNew }}" alt="{{ altNew }}" (click)="openDialog()" width="360" height="280" /> 
  <mat-card-content>
    <p>
      {{description}}
    </p>
  </mat-card-content>
  <mat-card-actions style=" display: grid">
    <button mat-raised-button (click)="openDialog()" color="primary">
      Crear
    </button>
  </mat-card-actions>
  <mat-icon id="info" [matTooltip]="info" matTooltipClass="mat-tooltip-class" inline="true">info</mat-icon>
</mat-card>