.example-card {
  max-width: 400px;
  border: 1px solid lightblue;
  border-radius: 8px;
}

mat-card-content {
  height: 165px;
}

.mat-card-image:first-child {
  margin-top: 0;
  border-bottom: 1px solid lightblue;
  cursor: pointer;
  border-radius: 8px 8px 0px 0px;
}

mat-icon {
  position: absolute;
  left: 0;
  top: 0;
}

#info {
  font-size: 25px;
  color: #1e88e5;
}

::ng-deep .mat-tooltip-class {
  font-size: 16px;
}
