<mat-card>
  <app-card-header modulo="Materiales" menu="{{ update ? 'Actualizar Material' : 'Crear Material' }}"> </app-card-header>
  <mat-card-content>
    <form
      [formGroup]="fg"
      fxLayout="column"
      fxLayoutGap="5px"
      (ngSubmit)="onSubmit()"
      #formT="ngForm"
    >
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
        <mat-form-field>
          <mat-label>Codigo Material</mat-label>
          <input
            matInput
            placeholder="Codigo del material"
            formControlName="cod_material"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Serial Material</mat-label>
          <input
            matInput
            placeholder="Serial del material"
            formControlName="serial_material"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Descripcion</mat-label>
          <input
            matInput
            placeholder="Descripcion"
            formControlName="description"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Almacen</mat-label>
          <mat-select formControlName="id_warehouse" placeholder="Almacen">
            <mat-option
              *ngFor="let warehoue of warehouses"
              [value]="warehoue.id_warehouse"
            >
              {{ warehoue.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
        <mat-form-field>
          <mat-label>Stock</mat-label>
          <input matInput placeholder="Stock" formControlName="stock" />
        </mat-form-field>

        <div fxFlex="50">
          <mat-slide-toggle formControlName="is_active">Activo</mat-slide-toggle>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end">
        <button mat-raised-button color="primary" type="submit">{{ update ? 'Actualizar' : 'Crear' }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
