<div fxLayout="row wrap">
    <div fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <app-card-header modulo="Novedades" menu="Gestion de Novedades">
            </app-card-header>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <ng-template #templateOpciones let-column="column" let-item="item" let-i="i">
                        <div class="button-row">
                            <button mat-icon-button appPermiso metodo="PUT" (click)="view(item.id)">
                                <mat-icon>pageview</mat-icon>
                            </button>
                        </div>
                    </ng-template>
                    <ng-template #templateInfo let-column="column" let-item="item" let-i="i">
                        <div>
                            <span>{{item.info | json}}</span>
                        </div>
                    </ng-template>
                    <ng-template #templateType let-column="column" let-item="item" let-i="i">
                        <div>
                            <span>{{ item?.type_news_display?.description}}</span>
                        </div>
                    </ng-template>
                    <app-generic-table fxFlex="100" [columns]="columns" [showFilter]="true" [service]="newService"
                        [btnRefresh]="true" [templates]="{opciones: templateOpciones, info: templateInfo, type: templateType}"
                        [showFilters]="true" [filters]="filters" [serviceMethodParams]="params" #table>
                    </app-generic-table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>