<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
            <ng-container *ngFor="let question of questions" class="form-row">
                <app-dynamic-forms [question]="question" [form]="form"></app-dynamic-forms>
            </ng-container>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" *ngIf="withSaved">
            <button type="submit" [disabled]="!form.valid">Save</button>
        </div>
    </form>

    <div *ngIf="payLoad && withSaved" class="form-row">
        <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
</div>