<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile" style="background: url(assets/images/IbartiSoftware-logo.png) no-repeat;">
    <!-- User profile image -->
    <div class="profile-img"> <img src="assets/images/IbartiSoftware-logo.png" alt="ibarti"> </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class="">
            {{ usuario?.nombre }} {{ usuario?.apellido }} <br>
            {{ usuario?.roll?.descripcion}}
            <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <!--         <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings
        </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications
        </button> -->
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Sign Out
        </button>
    </mat-menu>

</div>
<mat-nav-list dense>
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
            Ejemplos
        </mat-expansion-panel-header>
        <mat-nav-list dense *ngFor="let menuitem of menuItems.getMenuitem()">
            <a mat-list-item [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'inicio'">
                <span fxFlex></span>
                <mat-icon>{{ menuitem.icon }}</mat-icon>
                <span>{{ menuitem.name }}</span>
                <span fxFlex></span>
                <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            </a>
            <a mat-list-item [routerLink]="['/material/', menuitem.state]" *ngIf="menuitem.type === 'link'">
                <span fxFlex></span>
                <mat-icon>{{ menuitem.icon }}</mat-icon>
                <span>{{ menuitem.name }}</span>
                <span fxFlex></span>
                <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense *ngFor="let modulo of menuitems">
        <mat-expansion-panel-header>
            {{modulo.values[0].modulo.modulo}}
        </mat-expansion-panel-header>
        <mat-nav-list dense *ngFor="let menuitem of modulo.values">
            <a mat-list-item [routerLink]="['/', menuitem.permiso]">
                <span>{{ menuitem.permiso }}</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="existModule('standby')" dense>
        <mat-expansion-panel-header>
            Wharehouses
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['Wharehouses/', 'Wharehouses']">
                <span>Wharehouses</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="existModule('standby')" dense>
        <mat-expansion-panel-header>
            Classify News
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['classify-news/', 'classifynew']">
                <span>Calssify News</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="existModule('standby')" dense>
        <mat-expansion-panel-header>
            Vehiculos
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['vehiculos/', 'vehiculo']">
                <span>Vehiculos</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="existModule('standby')" dense>
        <mat-expansion-panel-header>
            Type News
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['type-news/', 'typenew']">
                <span>Type news</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="existModule('standby')" dense>
        <mat-expansion-panel-header>
            Type Personas
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['type-persons/', 'maestro']">
                <span>Type personas</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="existModule('standby')" dense>
        <mat-expansion-panel-header>
            Personas
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['personas/', 'maestro']">
                <span>Personas</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="existModule('standby')" dense>
        <mat-expansion-panel-header>
            Gestion
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['seguridad/', 'usuario']">
                <span>Usuario</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
</mat-nav-list>
