<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile" style="background: url(assets/images/IbartiSoftware-logo.png) no-repeat">
  <!-- User profile image -->
  <div class="profile-img">
    <img src="assets/images/IbartiSoftware-logo.png" alt="ibarti" />
  </div>
  <!-- User profile text-->
  <!-- ============================================================== -->
  <!-- Profile - style you can find in header.scss -->
  <!-- ============================================================== -->
  <div class="profile-text">
    <a [matMenuTriggerFor]="sdprofile" class="">
      {{ user?.name }} {{ user?.last_name }} <br />
      <i class="ti-angle-down font-12 m-l-5"></i></a>
  </div>
  <mat-menu #sdprofile="matMenu" class="mymegamenu">
    <!--  <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings
        </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications
        </button> -->
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> Sign Out
    </button>
  </mat-menu>
</div>
<mat-nav-list dense>
  <ng-template [ngxPermissionsOnly]="['ADMIN']">
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
      <mat-expansion-panel-header>
        <mat-icon aria-hidden="false" aria-label="Home Icon">home</mat-icon>
        Maestro
      </mat-expansion-panel-header>
      <!-- <mat-nav-list dense>
                <a mat-list-item [routerLink]="['warehouse']">
                    <span>
                      <mat-icon aria-hidden="false" aria-label="Shopping Cart">add_shopping_cart</mat-icon>
                        Almacen
                     </span>
                    <span fxFlex></span>
                </a>
            </mat-nav-list> -->
      <ng-template [ngxPermissionsOnly]="['ADMIN']">
        <mat-nav-list dense>
          <a mat-list-item [routerLink]="['materials']">
            <span>
              <mat-icon aria-hidden="false" aria-label="Assignment">assignment</mat-icon>
              Materiales
            </span>
            <span fxFlex></span>
          </a>
        </mat-nav-list>
      </ng-template>
      <!-- <mat-nav-list dense>
                <a mat-list-item [routerLink]="['classify-news/', 'maestro']">
                    <span>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">add_shopping_cart</mat-icon>
                        Novedades
                    </span>
                    <span fxFlex></span>
                </a>
            </mat-nav-list> -->
      <ng-template [ngxPermissionsOnly]="['ADMIN']">
        <mat-nav-list dense>
          <a mat-list-item [routerLink]="['vehicle']">
            <span>
              <mat-icon aria-hidden="false" aria-label="Vehicle">drive_eta</mat-icon>
              Vehiculos
            </span>
            <span fxFlex></span>
          </a>
        </mat-nav-list>
      </ng-template>
      <ng-template [ngxPermissionsOnly]="['ADMIN']">
        <mat-nav-list dense>
          <a mat-list-item [routerLink]="['type-people']">
            <span>
              <mat-icon aria-hidden="false" aria-label="Tipo de Persona">group_add</mat-icon>
              Tipos Personas
            </span>
            <span fxFlex></span>
          </a>
        </mat-nav-list>
      </ng-template>
      <ng-template [ngxPermissionsOnly]="['ADMIN']">
        <mat-nav-list dense>
          <a mat-list-item [routerLink]="['person']">
            <span>
              <mat-icon aria-hidden="false" aria-label="Person">face</mat-icon>
              Personas
            </span>
            <span fxFlex></span>
          </a>
        </mat-nav-list>
      </ng-template>
      <ng-template [ngxPermissionsOnly]="['ADMIN']">
        <mat-nav-list dense>
          <a mat-list-item [routerLink]="['schedule']">
            <span>
              <mat-icon aria-hidden="false" aria-label="Horario">schedule</mat-icon>
              Horarios
            </span>
            <span fxFlex></span>
          </a>
        </mat-nav-list>
      </ng-template>
    </mat-expansion-panel>
  </ng-template>
  <ng-template [ngxPermissionsOnly]="['ADMIN']">
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
      <mat-expansion-panel-header>
        <mat-icon aria-hidden="false" aria-label="News">book</mat-icon>
        Novedades
      </mat-expansion-panel-header>
      <ng-template [ngxPermissionsOnly]="['ADMIN']">
        <mat-nav-list dense>
          <a mat-list-item [routerLink]="['type-new']">
            <span>
              <mat-icon aria-hidden="false" aria-label="Tipe News">folder_special</mat-icon>
              Tipos Novedades
            </span>
            <span fxFlex></span>
          </a>
        </mat-nav-list>
      </ng-template>
      <ng-template [ngxPermissionsOnly]="['ADMIN', 'AUDITOR', 'SUPERVISOR', 'USER']">
        <mat-nav-list dense>
          <a mat-list-item [routerLink]="['new']">
            <span>
              <mat-icon aria-hidden="false" aria-label="News">folder_special</mat-icon>
              Novedades
            </span>
            <span fxFlex></span>
          </a>
        </mat-nav-list>
      </ng-template>
    </mat-expansion-panel>
  </ng-template>

  <ng-template [ngxPermissionsOnly]="['ADMIN']">
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
      <mat-expansion-panel-header>
        <mat-icon aria-hidden="false" aria-label="News">security</mat-icon>
        Seguridad
      </mat-expansion-panel-header>
      <ng-template [ngxPermissionsOnly]="['ADMIN']">
        <mat-nav-list dense>
          <a mat-list-item [routerLink]="['security', 'user']">
            <span>
              <mat-icon aria-hidden="false" aria-label="Tipe News">person</mat-icon>
              Usuarios
            </span>
            <span fxFlex></span>
          </a>
        </mat-nav-list>
      </ng-template>
      <ng-template [ngxPermissionsOnly]="['ADMIN']">
        <mat-nav-list dense>
          <a mat-list-item [routerLink]="['security', 'group']">
            <span>
              <mat-icon aria-hidden="false" aria-label="Tipe News">group_work</mat-icon>
              Grupos
            </span>
            <span fxFlex></span>
          </a>
        </mat-nav-list>
      </ng-template>
    </mat-expansion-panel>
  </ng-template>
  <ng-template [ngxPermissionsOnly]="['ADMIN']">
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
      <mat-expansion-panel-header>
        <mat-icon aria-hidden="false" aria-label="News">settings</mat-icon>
        Configuración
      </mat-expansion-panel-header>
      <ng-template [ngxPermissionsOnly]="['ADMIN']">
        <mat-nav-list dense>
          <a mat-list-item [routerLink]="['notification']">
            <span>
              <mat-icon aria-hidden="false" aria-label="Notifications">notification_important</mat-icon>
              Notificaciones
            </span>
            <span fxFlex></span>
          </a>
        </mat-nav-list>
      </ng-template>
    </mat-expansion-panel>
  </ng-template>
  <ng-template [ngxPermissionsOnly]="['ADMIN']">
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
      <mat-expansion-panel-header>
        <mat-icon aria-hidden="false" aria-label="News">settings</mat-icon>
        Generación de Formatos
      </mat-expansion-panel-header>
      <ng-template [ngxPermissionsOnly]="['ADMIN']">
        <mat-nav-list dense>
          <a mat-list-item [routerLink]="['dynamic-forms']">
            <span>
              <mat-icon aria-hidden="false" aria-label="Dynamic Forms">notification_important</mat-icon>
              Test
            </span>
            <span fxFlex></span>
          </a>
        </mat-nav-list>
        <mat-nav-list dense>
          <a mat-list-item [routerLink]="['dynamic-forms/generator']">
            <span>
              <mat-icon aria-hidden="false" aria-label="Dynamic Forms">notification_important</mat-icon>
              Generador
            </span>
            <span fxFlex></span>
          </a>
        </mat-nav-list>
      </ng-template>
    </mat-expansion-panel>
  </ng-template>
  <!-- <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
         <mat-icon aria-hidden="false" aria-label="Example home icon">vpn_key</mat-icon>
      
            Seguridad
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['roles/', 'maestro']">
                <span>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">people_outline</mat-icon>
            
                Roles</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['perfiles/', 'maestro']">
                <span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up_alt</mat-icon>
                 Perfiles
                </span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['seguridad/', 'user']">
                <span>
                   <mat-icon aria-hidden="false" aria-label="Example home icon">people_outline</mat-icon>
              
                users</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
          <mat-icon aria-hidden="false" aria-label="Example home icon">build</mat-icon>
          Configuracion
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['ubicaciones/', 'maestro']">
                <span>
                 <mat-icon aria-hidden="false" aria-label="Example home icon">casino</mat-icon>
                Ubicaciones
                </span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['notificacion/', 'maestro']">
                <span>
                   <mat-icon aria-hidden="false" aria-label="Example home icon">mms</mat-icon>
                Notificaciones</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['listemail/', 'maestro']">
                <span>
                   <mat-icon aria-hidden="false" aria-label="Example home icon">alternate_email</mat-icon>
                 Contactos Emails</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
         <mat-nav-list dense>
            <a mat-list-item [routerLink]="['listaadress/', 'maestro']">
                <span>
                   <mat-icon aria-hidden="false" aria-label="Example home icon">computer</mat-icon>
                PC Macaddress</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['plantillas/', 'maestro']">
                <span>
                 <mat-icon aria-hidden="false" aria-label="Example home icon">wallpaper</mat-icon>
                Plantillas</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
          <mat-icon aria-hidden="false" aria-label="Example home icon">help</mat-icon>
           Ayuda del Sistema
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['news/', 'maestro']">
                <span>
                 <mat-icon aria-hidden="false" aria-label="Example home icon">book</mat-icon>
                Manual Online</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
           <mat-icon aria-hidden="false" aria-label="Example home icon">reply</mat-icon>
           Salir del Sistema
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['news/', 'maestro']">
                <span>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">call_missed</mat-icon>
     
                Salir</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        
    </mat-expansion-panel> -->
</mat-nav-list>