<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile" style="background: url(assets/images/IbartiSoftware-logo.png) no-repeat;">
    <!-- User profile image -->
    <div class="profile-img"> <img src="assets/images/IbartiSoftware-logo.png" alt="ibarti"> </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class="">
            {{ usuario?.firsName }} {{ usuario?.lastName }} <br>
            {{ usuario?.user}}
            <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <!--         <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings
        </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications
        </button> -->
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Sign Out
        </button>
    </mat-menu>

</div>
<mat-nav-list dense>
     <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
            Archivos
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['wharehouses/', 'maestro']">
                <span>Almacenes</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['materiales/', 'maestro']">
                <span>Materiales</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['classify-news/', 'maestro']">
                <span>Class. Novedades</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['vehiculos/', 'maestro']">
                <span>Vehiculos</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['type-news/', 'maestro']">
                <span>Tipos Novedades</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['type-persons/', 'maestro']">
                <span>Tipos Personas</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['personas/', 'maestro']">
                <span>Personas</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
            Operaciones Book
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['news/', 'maestro']">
                <span>Novedades</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        
    </mat-expansion-panel>
     <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
            Seguridad
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['roles/', 'maestro']">
                <span>Roles</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['perfiles/', 'maestro']">
                <span>Perfiles</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['seguridad/', 'usuario']">
                <span>Usuarios</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
            Configuracion
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['ubicaciones/', 'maestro']">
                <span>Ubicaciones</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['notificaciones/', 'maestro']">
                <span>Notificaciones</span>
                <span fxFlex></span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
</mat-nav-list>
