<div fxFlex="{{ settings?.percentage || defaultValues.percentage}}" fxLayoutGap="40px" fxLayout="column"
    style="padding-top: 10px; padding-bottom: 10px;">
    <div fxFlex fxLayout="row wrap" fxLayoutGap="1px grid"><div fxLayoutAlign="end center" fxFlex="100%" fxLayout="row" *ngIf="!readOnly" style="margin: 10px;">
        <!-- fxFlex="1 0 10%" -->
        <button *ngIf="settings.showButtonNew"  mat-raised-button color="primary" (click)="createPersona()" type="button">
            Nuevo
        </button>
    </div>
    <!--Inicio Block Dinamico -->
    <form fxFlex="{{ settings.percentage }}" [formGroup]="fPerson" fxLayout="row wrad" fxLayoutGap="1px">
            <div *ngIf="settings.showTokenField" fxLayoutAlign="center center" fxFlex="2 0 11%" fxLayout="column" style="background-color: #ffffff" class="item">
                <mat-form-field appearance="fill">
                    <mat-label>Cedula</mat-label>
                    <input type="text" matInput formControlName="identification_number" placeholder=""
                        (keyup)="getPerson($event.target.value)" [readonly]="readOnly" />
                    <mat-error *ngIf="fPerson.controls.identification_number.hasError('required')">
                        La cedula es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="settings.showNameField" fxLayoutAlign="center center" fxFlex="3 0 13%" fxLayout="column"
                style="background-color: #ffffff" class="item">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre y Apellido</mat-label>
                    <input type="text" matInput formControlName="full_name" placeholder="Nombre y Apellido"
                        [readonly]="readOnly" />
                    <mat-error *ngIf="fPerson.controls.full_name.hasError('required')">
                        El nombre es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="settings.showTypePersonField" fxLayoutAlign="center center" fxFlex="1 1 11%" fxLayout="column"
                style="background-color: #ffffff" class="item">
                <mat-radio-group style="margin: 15px 0" formControlName="type_person" [disabled]="readOnly" [(ngModel)]="tp">
                    <mat-radio-button *ngFor="let mT of personTypes" style="margin: 5px" [value]="mT.id" (click)="check(mT.is_institution)">{{
                        mT.description}}
                    </mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="fPerson.controls.type_person.hasError('required')">
                    El tipo de persona es <strong>requerido</strong>
                </mat-error>
            </div>
            <div *ngIf="settings.showMovementTypeField" fxLayoutAlign="center center" fxFlex="1 1 11%" fxLayout="column"
                style="background-color: #ffffff" class="item">
                <mat-radio-group style="margin: 15px 0" formControlName="movement_type" [disabled]="readOnly">
                    <mat-radio-button *ngFor="let mT of movementTypes" style="margin: 5px" [value]="mT.id">{{
                        mT.text }}
                    </mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="fPerson.controls.movement_type.hasError('required')">
                    El tipo de movimiento es <strong>requerido</strong>
                </mat-error>
            </div>
            <div *ngIf="settings.showHourField" fxLayoutAlign="center center" fxFlex="1 1 11%" fxLayout="column"
                style="background-color: #ffffff" class="item">
                <ngx-timepicker-field #hourP [format]="24" [defaultTime]="'00:00'" [toggleIcon]="icon_hour"
                    formControlName="hour" [disabled]="readOnly">
                </ngx-timepicker-field>
                <ng-template #icon_hour>
                    <mat-icon aria-hidden="false">schedule</mat-icon>
                </ng-template>
                <mat-error *ngIf="fPerson.controls.hour.hasError('required')">
                    La hora es <strong>requerida</strong>
                </mat-error>
            </div>
            <div *ngIf="settings.showReasonVisitField" fxLayoutAlign="center center" fxFlex="1 1 15%" fxLayout="column"
                style="background-color: #ffffff" class="item">
                <mat-form-field appearance="fill">
                    <mat-label>Motivo de la visita</mat-label>
                    <input type="text" matInput formControlName="reason_visit" placeholder="Motivo de la visita"
                        [readonly]="readOnly" />
                    <mat-error *ngIf="fPerson.controls.reason_visit.hasError('required')">
                        El motivo es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="settings.showEntryField" fxLayoutAlign="center center" fxFlex="1 1 6%" fxLayout="column"
                style="background-color: #ffffff" class="item">
                <mat-slide-toggle formControlName="entry" #entryST [disabled]="readOnly">{{
                    entryST.checked ? "SI" : "NO"
                    }}</mat-slide-toggle>
                <mat-error *ngIf="fPerson.controls.entry.hasError('required')">
                    El ingreso es <strong>requerido</strong>
                </mat-error>
            </div>
            <div *ngIf="settings.showProtocolField" fxLayoutAlign="center center" fxFlex="1 1 6%" fxLayout="column"
                style="background-color: #ffffff" class="item">
                <mat-slide-toggle formControlName="protocol" #protocolST [disabled]="readOnly">{{
                    protocolST.checked ? "SI" : "NO"
                    }}</mat-slide-toggle>
                <mat-error *ngIf="fPerson.controls.protocol.hasError('required')">
                    Este campo es <strong>requerido</strong>
                </mat-error>
            </div>
            <div *ngIf="settings.showVaccinationCardNumberField" fxLayoutAlign="center center" fxFlex="1 1 6%"
                fxLayout="column" style="background-color: #ffffff" class="item">
                <mat-form-field appearance="fill">
                    <mat-label>Nro. de tarjeta de Vacunación</mat-label>
                    <input type="text" matInput formControlName="vaccination_card_number" placeholder=""
                        [readonly]="readOnly" />
                    <mat-error *ngIf="fPerson.controls.vaccination_card_number.hasError('required')">
                        El nro. de tarjeta de vacunación es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- Begin to Institucion -->
            <div fxLayout="row wrap" *ngIf="settings.showTypePersonField && isInstitution"
                fxLayoutGap="5px grid" fxFlex="100" style="background-color: #ffffff" class="item mat-toolbar">
                <div fxLayoutAlign="center center" fxFlex="100" fxLayout="column" class="item mat-toolbar mat-primary">
                    Personal de la Instituccion (Datos de la Instituccion) 
                </div>
                <div fxLayoutAlign="center center" class="item" fxFlex="2 1 40%" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Insituccion</mat-label>
                        <input type="text" matInput placeholder="Descripción" formControlName="instituccion" [readonly]="readOnly"
                            />
                    </mat-form-field>
                </div>
                <div  fxLayoutAlign="center center" class="item" fxFlex="3 1 30%" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>observacion</mat-label>
                        <input type="text" matInput placeholder="Observacion" formControlName="observacion" [readonly]="readOnly"
                            />
                    </mat-form-field>
                </div>

                <div fxLayoutAlign="center center" fxFlex="100" fxLayout="column" class="item mat-toolbar mat-primary">
                    Personal que autoriza la entrada
                </div>
               
                
                <div  fxLayoutAlign="center center" class="item" fxFlex="2 1 40%" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombres y Apellidos</mat-label>
                        <input type="text" matInput placeholder="Nombres y Apellidos"  formControlName="name_recibe" [readonly]="readOnly"
                            />
                    </mat-form-field>
                </div>
                <div  fxLayoutAlign="center center" class="item" fxFlex="2 1 30%" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Cedula</mat-label>
                        <input type="text" matInput placeholder="Cedula"  formControlName="ident_recibe" [readonly]="readOnly"
                            />
                    </mat-form-field>
                </div>
                <div  fxLayoutAlign="center center" class="item" fxFlex="2 1 30%" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Cargo</mat-label>
                        <input type="text" matInput placeholder="Cargo"  formControlName="cargo_recibe" [readonly]="readOnly"
                            />
                    </mat-form-field>
                </div>
                
            </div>
         
            <!-- End block to Institucion -->
            <!-- Inicio Block de Herramientas -->
            <div fxLayout="row wrap" *ngIf="settings.showEntryField && fPerson.controls.entry.value === true"
                fxLayoutGap="5px grid" fxFlex="100" style="background-color: #ffffff" class="item mat-toolbar">
                <div fxLayoutAlign="center center" fxFlex="100" fxLayout="column" class="item mat-toolbar mat-primary">
                    Objetos maquinas herramientas o equipos con que ingresa
                    (Si son mas de dos solicite relación aparte con estos datos)
                </div>
                <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="2 1 40%" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Descripción</mat-label>
                        <input type="text" matInput placeholder="Descripción" [(ngModel)]="materialCurrent.description"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                </div>
                <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="3 1 30%" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Marca</mat-label>
                        <input type="text" matInput placeholder="Marca" [(ngModel)]="materialCurrent.mark"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                </div>
                <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="1 1 30%" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Modelo</mat-label>
                        <input type="text" matInput placeholder="Modelo" [(ngModel)]="materialCurrent.model"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                </div>
                <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="1 1 30%" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <input type="text" matInput placeholder="Color" [(ngModel)]="materialCurrent.color"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                </div>
                <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="1 1 30%" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Serial</mat-label>
                        <input type="text" matInput placeholder="Serial" [(ngModel)]="materialCurrent.serial"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                </div>
                <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="1 1 10%" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Año</mat-label>
                        <input type="text" matInput placeholder="Ano" [(ngModel)]="materialCurrent.year"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                </div>
                <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="1 1 15%" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Placa</mat-label>
                        <input type="text" matInput placeholder="Placa" [(ngModel)]="materialCurrent.license_plate"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                </div>
                <div *ngIf="!readOnly" fxLayoutAlign="center center" fxFlex="1 1 10%" fxLayout="column">
                    <button mat-raised-button type="button" style="height: 50px" (click)="addMaterial(i)">
                        Agregar
                    </button>
                </div>
                <div fxFlex fxLayout="row wrap" fxLayoutGap="1px grid">
                    <div fxFlex="1 1 100%" fxLayout="row" style="height: 50px" fxLayoutGap="1px">
                        <div fxLayoutAlign="center center" fxFlex="1 0 25%" fxLayout="row"
                            class="item mat-toolbar mat-primary">
                            Descripción
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="2 0 15%" fxLayout="row"
                            class="item mat-toolbar mat-primary">
                            Marca
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="3 0 15%" fxLayout="row"
                            class="item mat-toolbar mat-primary">
                            Modelo
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="1 1 10%" fxLayout="row"
                            style="text-overflow: ellipsis" class="item mat-toolbar mat-primary">
                            Color
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="1 1 10%" fxLayout="row"
                            style="text-overflow: ellipsis" class="item mat-toolbar mat-primary">
                            Serial
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="1 1 10%" fxLayout="row"
                            class="item mat-toolbar mat-primary">
                            Año
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="1 1 10%" fxLayout="row"
                            class="item mat-toolbar mat-primary">
                            Placa
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="1 1 5%" fxLayout="row"
                            class="item mat-toolbar mat-primary" *ngIf="!readOnly">
                        </div>
                    </div>
                    <div fxLayout="row" fxFlex="100"
                        *ngFor="let material of fPerson.controls.materials.value.value; index as i_material;"
                        fxLayoutGap="1px">
                        <div fxLayoutAlign="center center" fxFlex="1 0 25%" fxLayout="column" class="item">
                            {{material.description}}
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="2 0 15%" fxLayout="column" class="item">
                            {{material.mark}}
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="3 0 15%" fxLayout="column" class="item">
                            {{material.model}}
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="1 0 10%" fxLayout="column" class="item">
                            {{material.color}}
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="1 0 10%" fxLayout="column" class="item">
                            {{material.serial}}
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="1 0 10%" fxLayout="column" class="item">
                            {{material.year}}
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="2 0 10%" fxLayout="column" class="item">
                            {{material.license_plate}}
                        </div>
                        <div fxFlex="1 1 5%" fxLayoutAlign="center center" fxLayout="column" class="item"
                            *ngIf="!readOnly">
                            <button mat-raised-button type="button" (click)="removeMaterial(i_material)">
                                <mat-icon>delete_sweep</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>  <!-- Fin  Block de Herramientas -->
                                   
      
        </form>
        <br><br>
    </div>

</div>