<div [fxFlex]="settings?.percentage || defaultValues.percentage" *ngIf="!readOnly || (readOnly && fAttachedFile.get('attachedFiles')?.value?.length > 0)" fxLayoutGap="40px" fxLayout="column" class="file-upload-container">
    <!-- Drag and Drop Area -->
    <div class="drop-area" (drop)="onDrop($event)" (dragover)="onDragOver($event)" *ngIf="!readOnly">
      {{ label }}
      <label [for]="'file-input-'+id" class="file-input-label">Selecciona archivos</label>
      <input [id]="'file-input-'+id" type="file" (change)="onFileSelected($event)" multiple />
    </div>
    <!-- Botón para capturar imagen desde la cámara -->
    <div class="camera-section">
        <button (click)="openCamera()" class="camera-button" *ngIf="!isCameraOpen && !readOnly">Capturar desde la cámara</button>
        <button (click)="closeCamera()" class="camera-close-button" *ngIf="isCameraOpen && !openningCamera">Cerrar la cámara</button>
        <video #videoElement autoplay class="camera-preview" *ngIf="isCameraOpen"></video>
        <button (click)="captureImage()" class="capture-button" *ngIf="isCameraOpen && !openningCamera">Capturar imagen</button>
    </div>
  
    <!-- Lista de archivos seleccionados -->
    <div class="file-list" *ngIf="files.length > 0 && !readOnly">
        <ul>
            <li *ngFor="let file of files; let i = index">
                <div *ngIf="isImage(file?.file?.name); else otherFile">
                    <img [src]="file?.url" [alt]="file?.file?.name" class="file-preview" />
                </div>
                <ng-template #otherFile>
                    <div *ngIf="isPdf(file?.url); else defaultFile">
                        <embed [src]="file?.url" type="application/pdf" width="100%" height="500px" />
                    </div>
                    <a [href]="file?.url" target="_blank">{{ file?.file?.name }}</a>
                </ng-template>
                <button mat-icon-button color="danger" type="button" (click)="removeSelectedFile(i)" >
                    <mat-icon>delete_sweep</mat-icon>
                </button>
            </li>
        </ul>
    </div>
  
    <!-- Mostrar archivos desde URLs -->
    <div class="url-files" *ngIf="fAttachedFile.get('attachedFiles')?.value?.length > 0 && readOnly">
        <ul>
            <li *ngFor="let file of fAttachedFile.get('attachedFiles').value; let i = index">
              <div *ngIf="isImage(file.name); else otherFile">
                <!-- Mostrar la imagen en Base64 -->
                <img [src]="'data:' + file.type + ';base64,' + file.base64" [alt]="file.name" class="file-preview" />
                <br>
                <a [href]="'data:' + file.type + ';base64,' + file.base64" [download]="file.name">{{ file.name }}</a>
              </div>
              <ng-template #otherFile>
                <!-- Mostrar un enlace para archivos que no son imágenes -->
                <div *ngIf="isPdf(file.name); else defaultFile">
                    <embed [src]="'data:' + file.type + ';base64,' + file.base64" type="application/pdf" width="100%" height="500px" />
                </div>
                <br>
                <a [href]="'data:' + file.type + ';base64,' + file.base64" [download]="file.name">{{ file.name }}</a>
              </ng-template>
            </li>
        </ul>
    </div>
</div>