<div fxFlex="{{ settings?.percentage || defaultValues.percentage}}" fxLayoutGap="40px" fxLayout="column" style="padding-top: 10px; padding-bottom: 10px;">
    <div fxFlex="{{ settings.percentage }}" fxLayout="row" style="height: 50px">
        <form fxFlex="{{ settings.percentage }}" [formGroup]="fGscope">
            <div fxFlex fxLayout="row wrap" fxLayoutGap="5px grid">

<!--                 <mat-form-field fxFlex="1 0 30%" appearance="fill" style="background-color: #ffffff;" *ngIf="!readOnly">
                    <mat-label>Sub Linea</mat-label>
                    <mat-select #scopeRef formControlName="scope" >
                        <mat-option *ngFor="let scopeItem of listFilter" [value]="scopeItem">
                            {{ scopeItem?.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field  fxFlex="1 0 30%" appearance="fill" style="background-color: #ffffff;" *ngIf="!readOnly">
                    <mat-select #scopeRef formControlName="scope" placeholder="Materiales">
                      <mat-option *ngIf="!readOnly">
                        <ngx-mat-select-search [formControl]="MultiFilterCtrl"  [placeholderLabel]="'Buscar...'"
                        [noEntriesFoundLabel]="'No Encontrado'"></ngx-mat-select-search>
                     </mat-option>
                      <mat-option *ngFor="let scopeItem of listFilter" [value]="scopeItem">
                        {{ scopeItem?.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                <mat-form-field fxFlex="1 0 30%" appearance="fill" *ngIf="!readOnly">
                    <mat-label>Cantidad</mat-label>
                    <input type="number" matInput placeholder="Cantidad" [(ngModel)]="scopeCurrent.amount"
                        [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
                <div>
                    <button mat-raised-button fxFlex="1 0 10%" style="height: 50px" (click)="addSubLine()" *ngIf="!readOnly"
                        type="button">
                        Agregar
                    </button>
                </div>
                <div> 
                    <button mat-raised-button fxFlex="1 1 10%" style="height: 50px" (click)="createMaterial()" *ngIf="!readOnly"
                    type="button"> 
                    Nuevo
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex flex-wrap">
        <ng-template #templateOpciones let-column="column" let-item="item" let-i="i">
            <div fxFlex="1 1 5%" fxLayoutAlign="center center" fxLayout="column" style="background-color: #ffffff"
               class="item" *ngIf="!readOnly">
               <button mat-raised-button type="button" (click)="removeSubLine(item.controls.index.value)">
                  <mat-icon>delete_sweep</mat-icon>
                </button>
            </div>
        </ng-template>
        <ng-template #templateItem let-column="column" let-item="item" let-i="i">
            <ng-container [formGroup]="item">
                <mat-form-field appearance="fill">
                    <mat-label>Serial</mat-label>
                    <input type="text" matInput formControlName="item" placeholder="1234567890" [readonly]="readOnly" />
                    <mat-error *ngIf="item.controls.item.hasError('required')">
                        Serial es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </ng-template>
        <ng-template #templateCode let-column="column" let-item="item" let-i="i">
            <ng-container [formGroup]="item">
                <mat-form-field appearance="fill">
                    <mat-label>Cod.</mat-label>
                    <input type="text" matInput formControlName="code" placeholder="1234567890" [readonly]="true" />
                    <mat-error *ngIf="item.controls.code.hasError('required')">
                        Código es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </ng-template>
        <ng-template #templateName let-column="column" let-item="item" let-i="i">
            <ng-container [formGroup]="item">
                <mat-form-field appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Nombre Completo"
                        [readonly]="true" />
                    <mat-error *ngIf="item.controls.name.hasError('required')">
                        El nombre es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </ng-template>
        <ng-template #templateAmount let-column="column" let-item="item" let-i="i">
            <ng-container [formGroup]="item">
                <input type="number" matInput formControlName="amount" placeholder="Cantidad" [readonly]="readOnly"/>
                <mat-error *ngIf="item.controls.amount.hasError('required')">
                    Este campo es <strong>requerido</strong>
                </mat-error>
            </ng-container>
        </ng-template>
        <ng-template #templateStatus let-column="column" let-item="item" let-i="i">
            <ng-container [formGroup]="item">
                <mat-radio-group style="margin: 15px 0" formControlName="health_condition"  [disabled]="readOnly">
                    <mat-radio-button *ngFor="let hC of healthConditions" style="margin: 5px" [value]="hC.id">
                        {{ hC.text }}
                    </mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="item.controls.health_condition.hasError('required')">
                    El estado de salud es <strong>requerido</strong>
                </mat-error>
            </ng-container>
        </ng-template>
        <ng-template #templateObserv let-column="column" let-item="item" let-i="i">
            <ng-container [formGroup]="item">
                <mat-form-field>
                    <textarea matInput cdkAutosizeMinRows="3" placeholder="Observación"
                        formControlName="observation" [readonly]="readOnly">
                    </textarea>
                </mat-form-field>
            </ng-container>
        </ng-template>
        <app-generic-table [hidden]="fScope.value.length === 0"  fxFlex="100" [columns]="columnsScope" [showFilter]="false" [btnRefresh]="false"
        [is_paged]="false" [templates]="{opciones: templateOpciones, item: templateItem, code: templateCode,
            name: templateName, amount: templateAmount,  status: templateStatus,  observ: templateObserv}" #tableScope>
        </app-generic-table>
    </div>
    
</div>