<div fxFlex="{{ settings?.percentage || defaultValues.percentage}}" fxLayoutGap="40px" fxLayout="column"
    style="padding-top: 10px; padding-bottom: 10px;">
    <div fxFlex="{{ settings.percentage }}" fxLayout="row" style="height: 50px">
        <form fxFlex="{{ settings.percentage }}" [formGroup]="fGscope">
            <div fxFlex fxLayout="row wrap" fxLayoutGap="5px grid">

<!--                 <mat-form-field fxFlex="1 0 30%" appearance="fill" style="background-color: #ffffff;" *ngIf="!readOnly">
                    <mat-label>Sub Linea</mat-label>
                    <mat-select #scopeRef formControlName="scope" >
                        <mat-option *ngFor="let scopeItem of listFilter" [value]="scopeItem">
                            {{ scopeItem?.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field  fxFlex="1 0 30%" appearance="fill" style="background-color: #ffffff;" *ngIf="!readOnly">
                    <mat-select #scopeRef formControlName="scope" placeholder="Materiales">
                      <mat-option *ngIf="!readOnly">
                        <ngx-mat-select-search [formControl]="MultiFilterCtrl"  [placeholderLabel]="'Buscar...'"
                        [noEntriesFoundLabel]="'No Encontrado'"></ngx-mat-select-search>
                     </mat-option>
                      <mat-option *ngFor="let scopeItem of listFilter" [value]="scopeItem">
                        {{ scopeItem?.name }}  {{scopeItem.item}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                <mat-form-field fxFlex="1 0 30%" appearance="fill" *ngIf="!readOnly">
                    <mat-label>Cantidad</mat-label>
                    <input type="number" matInput placeholder="Cantidad" [(ngModel)]="scopeCurrent.amount"
                        [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
                <div>
                    <button mat-raised-button fxFlex="1 0 10%" style="height: 50px" (click)="addSubLine()" *ngIf="!readOnly"
                        type="button">
                        Agregar
                    </button>
                </div>
                <div> 
                    <button mat-raised-button fxFlex="1 1 10%" style="height: 50px" (click)="createMaterial()" *ngIf="!readOnly"
                    type="button"> 
                    Nuevo
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div fxFlex fxLayout="row wrap" style="background-color: black;" fxLayoutGap="1px grid">
        <div fxFlex="1 1 100%" fxLayout="row" style="height: 50px" fxLayoutGap="1px">
            <div *ngIf="settings.showItemField" fxLayoutAlign="center center" fxFlex="1 0 17%" fxLayout="row"
                class="item mat-toolbar mat-primary">
                Serial
            </div>
            <div *ngIf="settings.showTokenField" fxLayoutAlign="center center" fxFlex="2 0 15%" fxLayout="row"
                class="item mat-toolbar mat-primary">
                Código
            </div>
            <div *ngIf="settings.showNameField" fxLayoutAlign="center center" fxFlex="3 0 23%" fxLayout="row"
                class="item mat-toolbar mat-primary">
                Nombre
            </div>
            <div *ngIf="settings.showAmountField" fxLayoutAlign="center center" fxFlex="1 1 5%" fxLayout="row"
                style="text-overflow: ellipsis" class="item mat-toolbar mat-primary">
                Cant.
            </div>
            <div *ngIf="settings.showHealthConditionField" fxLayoutAlign="center center" fxFlex="1 1 20%" fxLayout="row"
                class="item mat-toolbar mat-primary">
                Estado
            </div>
            <div *ngIf="settings.showObservationField" fxLayoutAlign="center center" fxFlex="1 1 20%" fxLayout="row"
                class="item mat-toolbar mat-primary">
                Observación
            </div>
            <div fxLayoutAlign="center center" fxFlex="1 1 5%" fxLayout="row" class="item mat-toolbar mat-primary"
                *ngIf="!readOnly">
            </div>
        </div>
        <!-- Begin to Dynamic Form -->
        <div fxFlex="{{ settings.percentage }}" fxLayout="row" *ngFor="let scope of fScope.controls; index as i;"
            fxLayoutGap="1px">
            <ng-container [formGroup]="scope">
                <div *ngIf="settings.showItemField" fxLayoutAlign="center center" fxFlex="1 0 17%" fxLayout="row"
                    style="background-color: #ffffff" class="item">
                    <mat-form-field appearance="fill">
                        <mat-label>Serial</mat-label>
                        <input type="text" matInput formControlName="item" placeholder="1234567890" />
                        <mat-error *ngIf="scope.controls.item.hasError('required')">
                            Serial es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="settings.showTokenField" fxLayoutAlign="center center" fxFlex="2 0 15%" fxLayout="row"
                    style="background-color: #ffffff" class="item">
                    <mat-form-field appearance="fill">
                        <mat-label>Cod.</mat-label>
                        <input type="text" matInput formControlName="code" placeholder="1234567890" [readonly]="true" />
                        <mat-error *ngIf="scope.controls.code.hasError('required')">
                            Código es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="settings.showNameField" fxLayoutAlign="center center" fxFlex="3 0 23%" fxLayout="row"
                    style="background-color: #ffffff" class="item">
                    <mat-form-field appearance="fill">
                        <mat-label>Descripción</mat-label>
                        <input type="text" matInput formControlName="name" placeholder="Nombre Completo"
                            [readonly]="true" />
                        <mat-error *ngIf="scope.controls.name.hasError('required')">
                            El nombre es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="settings.showAmountField" fxLayoutAlign="center center" fxFlex="1 1 5%" fxLayout="row"
                    style="background-color: #ffffff" class="item">
                    <input type="number" matInput formControlName="amount" placeholder="Cantidad" />
                    <mat-error *ngIf="scope.controls.amount.hasError('required')">
                        Este campo es <strong>requerido</strong>
                    </mat-error>
                </div>
                <div *ngIf="settings.showHealthConditionField" fxLayoutAlign="center center" fxFlex="1 1 20%"
                    fxLayout="column" style="background-color: #ffffff;" class="item">
                    <mat-radio-group style="margin: 15px 0" formControlName="health_condition">
                        <ng-container *ngFor="let hC of healthConditions">
                            <mat-radio-button class="custom-radio-button" [value]="hC.id">
                                {{ hC.text }}
                            </mat-radio-button>
                            <br>
                        </ng-container>
                    </mat-radio-group>
                    <mat-error *ngIf="scope.controls.health_condition.hasError('required')">
                        El estado de salud es <strong>requerido</strong>
                    </mat-error>
                </div>
                <div *ngIf="settings.showObservationField" fxLayoutAlign="center center" fxFlex="1 1 20%"
                    fxLayout="column" style="background-color: #ffffff" class="item">
                    <mat-form-field>
                        <textarea matInput cdkAutosizeMinRows="3" placeholder="Observación"
                            formControlName="observation">
                        </textarea>
                    </mat-form-field>
                </div>
                <div fxFlex="1 1 5%" fxLayoutAlign="center center" fxLayout="column" style="background-color: #ffffff"
                    class="item" *ngIf="!readOnly">
                    <button mat-raised-button type="button" (click)="addSubLine()">
                        <mat-icon (click)="removeSubLine(i)">delete_sweep</mat-icon>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
</div>