<table style="width: 100%;">
    <thead style="width: 100%;" fxLayout="row wrap">
        <tr fxFlex="1 0 100%" fxLayout="row" fxLayoutAlign="space-around">
            <th fxLayout="column" fxFlex="33%"><img src="assets/images/oesvica.jfif" alt=""></th>
            <th fxLayout="column" fxFlex="33%" align="center">
                <h1>{{new?.type_news_display?.description}}</h1>
            </th>
            <th fxLayout="column" fxFlex="33%" align="left">{{new?.type_news_display?.created | date}}</th>
        </tr>
        <tr fxFlex="1 0 100%" fxLayout="row" fxLayoutAlign="space-around">
            <th fxLayout="column" fxFlex="33%" align="left">Cliente: {{client?.cliente}} </th>
            <th fxLayout="column" fxFlex="33%" align="left">Correlativo: {{new?.number}}</th>
            <th fxLayout="column" fxFlex="33%"></th>
        </tr>
        <tr fxFlex="1 0 100%" fxLayout="row" fxLayoutAlign="space-around">
            <th fxLayout="column" fxFlex="33%" align="left">Ubicación / Libro: {{client?.ubicaicon}}</th>
            <th fxLayout="column" fxFlex="33%" align="left">Reportado por: {{new?.employee}}</th>
            <th fxLayout="column" fxFlex="33%"></th>
        </tr>
        <tr fxFlex="1 0 100%" fxLayout="row" fxLayoutAlign="space-around">
            <th fxLayout="column" fxFlex="33%" align="left">Fecha: {{new?.type_news_display?.created | date}}</th>
            <th fxLayout="column" fxFlex="33%" align="left" *ngIf="new?.turno">
                Turno: {{new.turno}}
            </th>
            <th fxLayout="column" fxFlex="33%" align="left">Hora: {{new?.type_news_display?.created |
                date:'shortTime'}}
            </th>
            <th fxLayout="column" fxFlex="33%" *ngIf="!new?.turno"></th>
        </tr>
    </thead>
</table>