<div fxLayout="column" fxLayoutGap="16px" class="header-container">
    <!-- Primera fila -->
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" fxLayoutGap="16px">
      <div fxFlex="33" fxLayout="column" fxLayoutAlign="center start">
        <img src="assets/images/oesvica.jfif" alt="Logo" class="header-logo">
      </div>
      
      <div fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
        <h2 class="header-title">{{new?.type_news_display?.description || new?.description}}</h2>
      </div>
      
      <div fxFlex="33" fxLayout="column" fxLayoutAlign="center end" *ngIf="readOnly">
        <div class="header-date">Fecha: {{new?.created | date}}</div>
        <div class="header-time">Hora: {{new?.created | date:'shortTime'}}</div>
      </div>
    </div>
  
    <!-- Segunda fila -->
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between start" fxLayoutGap="16px">
      <div fxFlex="33" fxLayout="column" fxLayoutAlign="start start">
        <div class="header-info">Cliente: {{new?.client_display ? new?.client_display?.name : client?.cliente}}</div>
      </div>
      
      <div fxFlex="33" fxLayout="column" fxLayoutAlign="start center" *ngIf="readOnly">
        <div class="header-info">Correlativo: {{new?.number}}</div>
      </div>
      
      <div fxFlex="33"></div>
    </div>
  
    <!-- Tercera fila -->
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between start" fxLayoutGap="16px">
      <div fxFlex="33" fxLayout="column" fxLayoutAlign="start start" *ngIf="readOnly">
        <div class="header-info">Ubicación / Libro: {{new?.location_display ? new?.location_display?.name : client?.ubicacion}}</div>
      </div>
      
      <div fxFlex="67" fxLayout="column" fxLayoutAlign="start start" *ngIf="readOnly">
        <div class="header-info">Reportado por: {{new?.employee}}</div>
      </div>

    </div>
  
    <!-- Cuarta fila (solo si hay turno) -->
    <div *ngIf="new?.turno" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between start" fxLayoutGap="16px">
      <div fxFlex="33" fxLayout="column" fxLayoutAlign="start start">
        <div class="header-info">Turno: {{new.turno}}</div>
      </div>
      <div fxFlex="66"></div>
    </div>
  </div>