<div fxLayout="row wrap">
    <div fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <app-card-header link="crear" link-menu="Crear Usuarios" modulo="Usuarios" menu="Gestion de Usuarios">
            </app-card-header>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <ng-template #templateOpciones let-column="column" let-item="item" let-i="i">
                        <div class="button-row">
                            <button mat-icon-button appPermiso metodo="PUT" (click)="update(item.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button appPermiso metodo="DELETE" (click)="delete(item)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </ng-template>
                    <ng-template #templateGroups let-column="column" let-item="item" let-i="i">
                        <div *ngFor="let group of item?.groups_display">
                            {{group?.name}}
                        </div>
                    </ng-template>
                    <app-generic-table fxFlex="100" [columns]="columns" [showFilter]="true" [service]="userService"
                        [btnRefresh]="true" [templates]="{opciones: templateOpciones, groups: templateGroups}" #table>
                    </app-generic-table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
