<mat-card>
    <app-card-header modulo="Almacen" menu="{{ update ? 'Actualizar Almacen' : 'Crear Almacen' }}">
    </app-card-header>
    <mat-card-content *ngIf='showForm'>
        <form [formGroup]="fg" fxLayout="column" fxLayoutGap="5px" (ngSubmit)="onSubmit()" #formRol>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                <mat-form-field>
                    <mat-label>Descripcion</mat-label>
                    <input matInput placeholder="Descripcion" formControlName="descripcion">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                <div fxFlex="50">
                    <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end">
                <button mat-raised-button color="primary" type="submit">{{ update ? 'Actualizar' : 'Crear' }}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
