<h1 mat-dialog-title>{{ data.element?.code_display }}</h1>
<ng-container *ngIf="!data.element?.settings">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Porcentaje en fila</mat-label>
      <input matInput tabindex="1" [(ngModel)]="data.element.percentage_per_row" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Valor por defecto</mat-label>
      <input matInput tabindex="1" [(ngModel)]="data.element.value" />
    </mat-form-field>
    <mat-form-field *ngIf="data.element?.code != 'TITLE'">
      <mat-label>Etiqueta</mat-label>
      <input matInput tabindex="1" [(ngModel)]="data.element.label" />
    </mat-form-field>
    <mat-form-field *ngIf="data.element?.code === 'TEXTBOX'">
      <mat-label>Máximo de Caracteres</mat-label>
      <input matInput tabindex="1" type="number" [(ngModel)]="data.element.maximum_characters" />
    </mat-form-field>
    <div *ngIf="data.element?.code === 'SELECTION'" fxFlex fxLayout="row wrap">
      <mat-form-field>
        <mat-label>Opciones</mat-label>
        <input matInput tabindex="1" [(ngModel)]="selection_current" />
      </mat-form-field>
      <button mat-raised-button style="height: 50px" (click)="addSelection()">
        Agregar
      </button>
      <br>
      <mat-list role="list" fxFlex="100">
        <mat-list-item role="listitem" *ngFor="let opt of data.element.options">{{opt.value}}
          <mat-icon (click)="removeOption(opt.key)">delete_sweep</mat-icon><br>
        </mat-list-item>
      </mat-list>
    </div>
    <div *ngIf="data.element?.code != 'TITLE'">
      <p>Requerido</p>
      <mat-slide-toggle [(ngModel)]="data.element.required" ngDefaultControl>{{
        data.element.required ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
  </div>
</ng-container>
<ng-container
  *ngIf="data.element?.settings && (data.element.code === 'PLANNED_STAFF' || data.element.code === 'OESVICA_STAFF' || data.element.code === 'FORMER_GUARD' || data.element.code === 'SUB_LINE')">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Porcentaje en fila</mat-label>
      <input matInput tabindex="1" [(ngModel)]="data.element.settings.percentage" />
    </mat-form-field>
    <mat-form-field *ngIf="data.element.code !== 'SUB_LINE'">
      <mat-label>Status de Guardia</mat-label>
      <input matInput tabindex="1" [(ngModel)]="data.element.settings.guardStatus" />
    </mat-form-field>
    <div *ngIf="data.element.code !== 'SUB_LINE'">
      <p>Mostrar la columna <strong>FICHA</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showTokenField" ngDefaultControl>{{
        data.element.settings.showTokenField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div *ngIf="data.element.code === 'SUB_LINE'">
      <p>Mostrar la columna <strong>Código</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showTokenField" ngDefaultControl>{{
        data.element.settings.showTokenField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div *ngIf="data.element.code === 'SUB_LINE'">
      <p>Mostrar la columna <strong>Serial</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showItemField" ngDefaultControl>{{
        data.element.settings.showItemField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div *ngIf="data.element.code !== 'SUB_LINE'">
      <p>Mostrar la columna <strong>Nombre y Apellido</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showNameField" ngDefaultControl>{{
        data.element.settings.showNameField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div *ngIf="data.element.code === 'SUB_LINE'">
      <p>Mostrar la columna <strong>Nombre</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showNameField" ngDefaultControl>{{
        data.element.settings.showNameField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div *ngIf="data.element.code === 'SUB_LINE'">
      <p>Mostrar la columna <strong>Cantidad</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showAmountField" ngDefaultControl>{{
        data.element.settings.showAmountField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div *ngIf="data.element.code === 'SUB_LINE'">
      <p>Mostrar la columna <strong>Estado</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showHealthConditionField" ngDefaultControl>{{
        data.element.settings.showHealthConditionField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div *ngIf="data.element.code === 'SUB_LINE'">
      <p>Mostrar la columna <strong>Observación</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showObservationField" ngDefaultControl>{{
        data.element.settings.showObservationField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div *ngIf="data.element.code !== 'SUB_LINE'">
      <p>Mostrar la columna <strong>Cumplió Protocolo</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showProtocolField" ngDefaultControl>{{
        data.element.settings.showProtocolField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div *ngIf="data.element.code !== 'SUB_LINE'">
      <p>Mostrar la columna <strong>Estado de Salud</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showHealthConditionField" ngDefaultControl>{{
        data.element.settings.showHealthConditionField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div *ngIf="data.element.code !== 'SUB_LINE'">
      <p>Mostrar la columna <strong>Hora de Llegada</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showCheckInField" ngDefaultControl>{{
        data.element.settings.showCheckInField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div *ngIf="data.element.code !== 'SUB_LINE'">
      <p>Mostrar la columna <strong>Hora de Salida</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showCheckOutField" ngDefaultControl>{{
        data.element.settings.showCheckOutField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div *ngIf="data.element.code !== 'SUB_LINE'">
      <p>Mostrar la columna <strong>Estado de su Guardia</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showGuardStatusField" ngDefaultControl>{{
        data.element.settings.showGuardStatusField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="data.element?.settings && (data.element.code === 'VEHICLES' || data.element.code === 'VEHICLE')">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Porcentaje en fila</mat-label>
      <input matInput tabindex="1" [(ngModel)]="data.element.settings.percentage" />
    </mat-form-field>
    <div>
      <p>Mostrar la columna <strong>Nombre y Apellido</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showNameField" ngDefaultControl>{{
        data.element.settings.showNameField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Tipo de Propietario</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showOwnerTypeField" ngDefaultControl>{{
        data.element.settings.showOwnerTypeField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Tipo de Movimiento</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showMovementTypeField" ngDefaultControl>{{
        data.element.settings.showMovementTypeField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Hora</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showHourField" ngDefaultControl>{{
        data.element.settings.showHourField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Ingreso de Herramienta o Equipo</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showEntryField" ngDefaultControl>{{
        data.element.settings.showEntryField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Cumplió protocolo</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showProtocolField" ngDefaultControl>{{
        data.element.settings.showProtocolField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="data.element?.settings && (data.element.code === 'PERSONS' || data.element.code === 'PERSON')">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Porcentaje en fila</mat-label>
      <input matInput tabindex="1" [(ngModel)]="data.element.settings.percentage" />
    </mat-form-field>
    <div>
      <p>Mostrar la columna <strong>Nombre y Apellido</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showNameField" ngDefaultControl>{{
        data.element.settings.showNameField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Tipo de Persona</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showTypePersonField" ngDefaultControl>{{
        data.element.settings.showTypePersonField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Tipo de Movimiento</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showMovementTypeField" ngDefaultControl>{{
        data.element.settings.showMovementTypeField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Hora</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showHourField" ngDefaultControl>{{
        data.element.settings.showHourField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Ingreso de Motivo de Visita</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showReasonVisitField" ngDefaultControl>{{
        data.element.settings.showReasonVisitField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Ingreso de Herramienta o Equipo</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showEntryField" ngDefaultControl>{{
        data.element.settings.showEntryField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Cumplió protocolo</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showProtocolField" ngDefaultControl>{{
        data.element.settings.showProtocolField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Nro. de tarjeta de vacunación</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showVaccinationCardNumberField" ngDefaultControl>{{
        data.element.settings.showVaccinationCardNumberField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="data.element?.settings && data.element.code === 'ROUND'">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Porcentaje en fila</mat-label>
      <input matInput tabindex="1" [(ngModel)]="data.element.settings.percentage" />
    </mat-form-field>
    <div>
      <p>Mostrar la columna <strong>Nro de la ronda</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showNumberField" ngDefaultControl>{{
        data.element.settings.showNumberField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Hora de inicio</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showHourStartField" ngDefaultControl>{{
        data.element.settings.showHourStartField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Hora de finalización</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showHourEndField" ngDefaultControl>{{
        data.element.settings.showHourEndField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Observación del estatus perimetral</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showObservationField" ngDefaultControl>{{
        data.element.settings.showObservationField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
    <div>
      <p>Mostrar la columna <strong>Motivo de imcumplimiento de ronda</strong></p>
      <mat-slide-toggle [(ngModel)]="data.element.settings.showReasonField" ngDefaultControl>{{
        data.element.settings.showReasonField ? "SI" : "NO"
        }}</mat-slide-toggle>
    </div>
  </div>
</ng-container>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" tabindex="2">Ok</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>