<mat-card>
    <mat-card-header>
        <mat-card-title>{{ name }}</mat-card-title>
        <button mat-icon-button color="primary" (click)="onReset()" [disabled]="submitted">
          <mat-icon mat-list-icon>loop</mat-icon>
        </button>
      </mat-card-header>
    <mat-card-content>
        <form [formGroup]="fg" fxLayout="column" fxLayoutGap="5px" #formT>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                <mat-form-field>
                    <mat-label>Noticia</mat-label>
                    <textarea matInput formControlName="notice"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Perimetro</mat-label>
                    <textarea matInput formControlName="perimetro"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Alumbrado</mat-label>
                    <textarea matInput formControlName="alumbrado"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Alarmas</mat-label>
                    <textarea matInput formControlName="alarmas"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>SCI</mat-label>
                    <textarea matInput formControlName="sCI"></textarea>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end">
                <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="view">{{ update ? 'Actualizar' : 'Crear' }}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>