<div *ngIf="readOnly">
  <table>
    <thead fxFlex fxLayout="row wrap">
      <tr fxFlex="1 0 100%" fxLayout="row" fxLayoutAlign="space-around">
        <th fxLayout="column" fxFlex="33%"><img src="assets/images/oesvica.jfif" alt=""></th>
        <th fxLayout="column" fxFlex="33%" align="center">
          <h1>{{new?.type_news_display?.description}}</h1>
        </th>
        <th fxLayout="column" fxFlex="33%" align="left">{{new?.type_news_display?.created | date}}</th>
      </tr>
      <tr fxFlex="1 0 100%" fxLayout="row" fxLayoutAlign="space-around">
        <th fxLayout="column" fxFlex="33%" align="left">Cliente: </th>
        <th fxLayout="column" fxFlex="33%" align="left">Correlativo: {{new?.number}}</th>
        <th fxLayout="column" fxFlex="33%"></th>
      </tr>
      <tr fxFlex="1 0 100%" fxLayout="row" fxLayoutAlign="space-around">
        <th fxLayout="column" fxFlex="33%" align="left">Ubicación / Libro: </th>
        <th fxLayout="column" fxFlex="33%" align="left">Reportado por:</th>
        <th fxLayout="column" fxFlex="33%"></th>
      </tr>
      <tr fxFlex="1 0 100%" fxLayout="row" fxLayoutAlign="space-around">
        <th fxLayout="column" fxFlex="33%" align="left">Fecha: {{new?.type_news_display?.created | date}}</th>
        <th fxLayout="column" fxFlex="33%" align="left" *ngIf="new?.turno">
          Turno: {{new.turno}}
        </th>
        <th fxLayout="column" fxFlex="33%" align="left">Hora: {{new?.type_news_display?.created | date:'shortTime'}}
        </th>
        <th fxLayout="column" fxFlex="33%" *ngIf="!new?.turno"></th>
      </tr>
    </thead>
  </table>
</div>
<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div fxLayout="row wrap" fxLayout.xs="column">
      <ng-container *ngFor="let question of questions">
        <div fxLayout="column" [fxFlex]="question.percentage_per_row ? question.percentage_per_row : 100">
          <app-dynamic-controls [question]="question" [form]="form" [readOnly]="readOnly"></app-dynamic-controls>
        </div>
      </ng-container>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="5" *ngIf="withSaved && !readOnly">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
        Guardar
      </button>
    </div>
  </form>

  <div *ngIf="payLoad && withSaved && !readOnly">
    <p>
      <strong>Saved the following values</strong>
    </p>
    <pre style="word-break: break-all; word-wrap: break-word;">{{ payLoad }}</pre>
  </div>
</div>