<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div fxLayout="row wrap" fxLayout.xs="column">
      <ng-container *ngFor="let question of questions">
        <div fxLayout="column" [fxFlex]="
            question.percentage_per_row ? question.percentage_per_row : 100
          ">
          <app-dynamic-controls [question]="question" [form]="form" [readOnly]="readOnly"></app-dynamic-controls>
        </div>
      </ng-container>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="5" *ngIf="withSaved && !readOnly">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
        Guardar
      </button>
    </div>
  </form>

  <div *ngIf="payLoad && withSaved && !readOnly">
    <p>
      <strong>Saved the following values</strong>
    </p>
    <pre style="word-break: break-all; word-wrap: break-word;">{{ payLoad }}</pre>
  </div>
</div>