<mat-card>
  <app-card-header modulo="Novedades" menu="{{ update ? 'Actualizar Tipo de Novedad' : 'Crear Tipo de Novedad' }}">
  </app-card-header>
  <mat-card-content>
    <mat-form-field>
      <div>
        <mat-toolbar>
          <input matInput [value]="selectedFileName ? selectedFileName : 'Selecciona la imagen'"
            (click)="file.click()" />
        </mat-toolbar>
        <input #file style="display: none;" multiple="true" type="file" accept='image/*'
          (change)="selectFiles($event)" />
      </div>
    </mat-form-field>

    <form [formGroup]="fg" fxLayout="column" fxLayoutGap="5px" (ngSubmit)="onSubmit()" #formT="ngForm">
      <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="5px" align="center">
        <img mat-card-image [src]="preview" class="preview" *ngIf="preview" width="360" height="280">
      </div>

      <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="5px">
        <mat-form-field>
          <input matInput placeholder="Codigo" formControlName="code" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Descripcion" formControlName="description" />
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Informacion..." formControlName="info"></textarea>
        </mat-form-field>
        <!--         <mat-form-field>
          <mat-select formControlName="template" (selectionChange)="selectionTemplateChange($event)" placeholder="Plantilla">
            <mat-option
              *ngFor="let template of templates"
              [value]="template.name"
            >
              {{ template.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
        <div fxFlex="50">
          <mat-slide-toggle formControlName="is_active">Status</mat-slide-toggle>
        </div>
        <div fxFlex="50">
          <mat-slide-toggle formControlName="is_changing_of_the_guard">Para Cambio de Guardia</mat-slide-toggle>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end">
        <button mat-raised-button color="primary" type='submit'>
          {{ update ? "Actualizar" : "Crear" }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<!-- <div fxLayout="row wrap">
  <div fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <app-template-one
          *ngIf="showOne"
          [method]="view"
          [name]="template.name"
          [operation]="template.operation"
        ></app-template-one>
        <app-template-two
          *ngIf="showTwo"
          [method]="view"
          [name]="template.name"
          [operation]="template.operation"
        ></app-template-two>
        <app-template-three
          *ngIf="showThree"
          [method]="view"
          [name]="template.name"
          [operation]="template.operation"
        ></app-template-three>
        <app-template-four
          *ngIf="showFour"
          [method]="view"
          [name]="template.name"
          [operation]="template.operation"
        ></app-template-four>
        <app-template-five
          *ngIf="showFive"
          [method]="view"
          [name]="template.name"
          [operation]="template.operation"
        ></app-template-five>
        <app-template-six
          *ngIf="showSix"
          [method]="view"
          [name]="template.name"
          [operation]="template.operation"
        ></app-template-six>
        <app-template-seven
          *ngIf="showSeven"
          [method]="view"
          [name]="template.name"
          [operation]="template.operation"
        ></app-template-seven>
        <app-template-eight
          *ngIf="showEight"
          [method]="view"
          [name]="template.name"
          [operation]="template.operation"
        ></app-template-eight>
        <app-not-found
          *ngIf="showNotFound"
        ></app-not-found>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->