<div [formGroup]="form">
  <div *ngIf="!question.form_field" [ngSwitch]="question.controlType">
    <br *ngSwitchCase="'title'">
    <h2 *ngSwitchCase="'title'">{{ question.value || question.title }}</h2>
    <app-changing-guard-staff-list [id]="question.key" *ngSwitchCase="'staffReceivingTheGuard'" [readOnly]="readOnly"
      [staffArr]="question.fichas" [settings]="question.settings" [fGRoot]="form"
      [staffArrSelected]="question.value || []">
    </app-changing-guard-staff-list>
    <ngx-timepicker-field #hour [format]="24" *ngSwitchCase="'hour'" [defaultTime]="'06:00'"
      [formControlName]="question.key" [id]="question.key" [readonly]="readOnly">
    </ngx-timepicker-field>
    <app-scope [id]="question.key" *ngSwitchCase="'scope'" [readOnly]="readOnly" [fGRoot]="form"
      [scopeArrSelected]="question.value || []" [scopeArr]="question.options" [settings]="question.settings">
    </app-scope>
    <app-vehicles [id]="question.key" *ngSwitchCase="'vehicles'" [readOnly]="readOnly" [fGRoot]="form"
      [vehiclesArr]="question.vehicles" [settings]="question.settings" [vehiclesArrSelected]="question.value || []">
    </app-vehicles>
    <app-vehicle [id]="question.key" *ngSwitchCase="'vehicle'" [readOnly]="readOnly" [fGRoot]="form"
      [vehicleSelected]="question.value || {}" [vehiclesArr]="question.vehicles" [settings]="question.settings">
    </app-vehicle>
    <!-- <ng-template #hour *ngSwitchCase="'hour'">
      <mat-icon aria-hidden=" false" aria-label="Horario">schedule</mat-icon>
    </ng-template> -->
    <fieldset *ngSwitchCase="'selection'">
      <legend>
        <mat-label [attr.for]="question.key">{{ question.label }}</mat-label>
      </legend>
      <div class="row">
        <mat-radio-group [formControlName]="question.key" [readonly]="readOnly">
          <mat-radio-button *ngFor="let opt of question.options" style="margin: 5px" [value]="opt.key">{{ opt.value |
            titlecase }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </fieldset>
  </div>
  <mat-form-field appearance="fill" [ngSwitch]="question.controlType" *ngIf="question.form_field">
    <mat-label [attr.for]="question.key">{{ question.label }}</mat-label>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="10" *ngSwitchCase="'freetext'" [formControlName]="question.key" [id]="question.key"
      [type]="question.type" [readonly]="readOnly"></textarea>
    <input matInput *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key"
      [type]="question.type" [readonly]="readOnly" [maxlength]="question.maximum_characters" />
    <input matInput *ngSwitchCase="'amount'" [formControlName]="question.key" [id]="question.key" type="number"
      [readonly]="readOnly" />
    <input matInput *ngSwitchCase="'date'" [formControlName]="question.key" [id]="question.key" [type]="question.type"
      [readonly]="readOnly">
    <mat-select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" [readonly]="readOnly">
      <mat-option *ngFor="let opt of question.options" [value]="opt.key">
        <p [matTooltip]="opt?.info">{{ opt.value | titlecase }}</p>
      </mat-option>
    </mat-select>
    <mat-select [id]="question.key" *ngSwitchCase="'point'" [formControlName]="question.key" [readonly]="readOnly">
      <mat-option *ngFor="let opt of question.options" [value]="opt.id">
        <p [matTooltip]="opt?.code">{{ opt.name | titlecase }}</p>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>