<div [formGroup]="form">
  <div *ngIf="!question.form_field" [ngSwitch]="question.controlType">
    <br *ngSwitchCase="'title'">
    <h2 *ngSwitchCase="'title'">{{ question.value || question.title }}</h2>
    <app-changing-guard-staff-list [id]="question.key" *ngSwitchCase="'staffReceivingTheGuard'" [readOnly]="readOnly"
      [staffArr]="question.fichas" [settings]="question.settings" [fGRoot]="form"
      [staffArrSelected]="question.value || []">
    </app-changing-guard-staff-list>
    <ngx-timepicker-field #hour [format]="24" *ngSwitchCase="'hour'" [defaultTime]="'06:00'"
      [formControlName]="question.key" [id]="question.key" [readonly]="readOnly">
    </ngx-timepicker-field>
    <!-- <ng-template #hour *ngSwitchCase="'hour'">
      <mat-icon aria-hidden=" false" aria-label="Horario">schedule</mat-icon>
    </ng-template> -->

  </div>
  <mat-form-field appearance="fill" [ngSwitch]="question.controlType" *ngIf="question.form_field">
    <mat-label [attr.for]="question.key">{{ question.label }}</mat-label>
    <input matInput *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key"
      [type]="question.type" [readonly]="readOnly" />
    <input matInput *ngSwitchCase="'amount'" [formControlName]="question.key" [id]="question.key" type="number"
      [readonly]="readOnly" />
    <input matInput *ngSwitchCase="'date'" [formControlName]="question.key" [id]="question.key" [type]="question.type"
      [matDatepicker]="picker" [readonly]="readOnly">
    <mat-datepicker-toggle *ngSwitchCase="'date'" matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker *ngSwitchCase="'date'" #picker></mat-datepicker>
    <mat-select [id]="question.key" *ngSwitchCase="'scope'" [formControlName]="question.key" multiple>
      <mat-option *ngFor="let opt of question?.options" [value]="opt?.item">
        <p [matTooltip]="opt?.descripcion"> {{ opt?.descripcion | titlecase }}
        </p>
      </mat-option>
    </mat-select>
    <mat-select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" [readonly]="readOnly">
      <mat-option *ngFor="let opt of question.options" [value]="opt.key">
        <p [matTooltip]="opt?.info">{{ opt.value | titlecase }}</p>
      </mat-option>
    </mat-select>
    <mat-select [id]="question.key" *ngSwitchCase="'point'" [formControlName]="question.key" [readonly]="readOnly">
      <mat-option *ngFor="let opt of question.options" [value]="opt.id">
        <p [matTooltip]="opt?.code">{{ opt.name | titlecase }}</p>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>