<div [formGroup]="form">
  <div *ngIf="!question.form_field" [ngSwitch]="question.controlType">
    <br *ngSwitchCase="'title'">
    <h2 *ngSwitchCase="'title'">{{ question.value || question.title }}</h2>
    <app-changing-guard-staff-list [id]="question.key" *ngSwitchCase="'staffReceivingTheGuard'" [readOnly]="readOnly"
      [staffArr]="question.fichas" [settings]="question.settings" [fGRoot]="form"
      [staffArrSelected]="question.value || []">
    </app-changing-guard-staff-list>
  </div>
  <mat-form-field appearance="fill" [ngSwitch]="question.controlType" *ngIf="question.form_field">
    <mat-label [attr.for]="question.key">{{ question.label }}</mat-label>
    <input matInput *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key"
      [type]="question.type" [readonly]="readOnly" />
    <input matInput *ngSwitchCase="'date'" [formControlName]="question.key" [id]="question.key" [type]="question.type"
      [matDatepicker]="picker" [readonly]="readOnly">
    <mat-datepicker-toggle *ngSwitchCase="'date'" matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker *ngSwitchCase="'date'" #picker></mat-datepicker>
    <ngx-timepicker-field #hour [format]="24" *ngSwitchCase="'hour'" [defaultTime]="'06:00'" [toggleIcon]="hour"
      [formControlName]="question.key" [id]="question.key" [type]="question.type" [readonly]="readOnly">
    </ngx-timepicker-field>
    <ng-template #hour *ngSwitchCase="'hour'">
      <mat-icon aria-hidden=" false" aria-label="Horario">schedule</mat-icon>
    </ng-template>
    <!-- <mat-select
      [id]="question.key"
      *ngSwitchCase="'staffReceivingTheGuard'"
      [formControlName]="question.key"
      multiple
    >
      <mat-option *ngFor="let opt of question?.fichas" [value]="opt?.cod_ficha">
        <p [matTooltip]="opt?.identification_card">
          {{ opt?.cod_ficha }} {{ opt?.name_and_surname | titlecase }}
        </p>
      </mat-option>
    </mat-select> -->
    <mat-select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" [readonly]="readOnly">
      <mat-option *ngFor="let opt of question.options" [value]="opt.key">
        <p [matTooltip]="opt?.info">{{ opt.value | titlecase }}</p>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>