<div fxFlex="{{ settings?.percentage || defaultValues.percentage }}" fxLayout="column" style="padding: 10px 0;">
    <!-- Barra de búsqueda/agregar -->
    <form [formGroup]="fGPersons">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" style="margin-bottom: 15px;">
            <mat-form-field fxFlex="1 1 60%" fxFlex.lt-sm="100%" appearance="fill" *ngIf="!readOnly">
                <mat-label>Cédula</mat-label>
                <input type="text" matInput placeholder="Ingrese cédula"
                    [(ngModel)]="personCurrent.identification_number" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="fGPersons.get('identification_number')?.hasError('required')">
                    Cédula es <strong>requerida</strong>
                </mat-error>
            </mat-form-field>

            <div fxLayout="row" fxLayoutGap="10px" fxFlex="1 1 40%" fxFlex.lt-sm="100%">
                <button mat-raised-button fxFlex="50" (click)="addPerson()" style="height: 50px" *ngIf="!readOnly"
                    [disabled]="!personCurrent.identification_number" color="primary">
                    <mat-icon>person_add</mat-icon> Agregar
                </button>
                <button *ngIf="settings.showButtonNew" style="height: 50px" mat-raised-button color="primary" (click)="createPerson()"
                    type="button">
                    Nuevo
                </button>
                <!-- <button mat-raised-button fxFlex="50" (click)="searchPerson()" style="height: 50px" *ngIf="!readOnly"
                    color="accent">
                    <mat-icon>search</mat-icon> Buscar
                </button> -->
            </div>
        </div>
    </form>

    <!-- Versión desktop -->
    <div fxShow="gt-sm" fxHide.lt-md>
        <!-- Contenedor de tabla -->
        <div class="table-container" fxLayout="column">
            <!-- Encabezados -->
            <div fxLayout="row" fxLayoutGap="1px" class="header-row">
                <div *ngIf="settings.showTokenField" fxFlex="1 0 15%" class="header-cell mat-toolbar mat-primary">
                    Cédula
                </div>
                <div *ngIf="settings.showNameField" fxFlex="3 0 25%" class="header-cell mat-toolbar mat-primary">
                    Nombre
                </div>
                <div *ngIf="settings.showTypePersonField" fxFlex="1 1 15%" class="header-cell mat-toolbar mat-primary">
                    Tipo
                </div>
                <div *ngIf="settings.showMovementTypeField" fxFlex="1 1 15%"
                    class="header-cell mat-toolbar mat-primary">
                    Movimiento
                </div>
                <div *ngIf="settings.showHourField" fxFlex="1 1 10%" class="header-cell mat-toolbar mat-primary">
                    Hora
                </div>
                <div *ngIf="settings.showReasonVisitField" fxFlex="1 1 15%" class="header-cell mat-toolbar mat-primary">
                    Motivo
                </div>
                <div fxFlex="1 1 5%" class="header-cell mat-toolbar mat-primary" *ngIf="!readOnly"></div>
            </div>

            <!-- Items -->
            <div fxLayout="column" fxLayoutGap="1px">
                <ng-container *ngFor="let person of fPersons.controls; index as i;">
                    <div [formGroup]="person" fxLayout="row" fxLayoutGap="1px" class="item-row">
                        <div *ngIf="settings.showTokenField" fxFlex="1 0 15%" class="item-cell">
                            <mat-form-field appearance="fill" fxFlex="100">
                                <input type="text" matInput formControlName="identification_number" placeholder="Cédula"
                                    [readonly]="readOnly" />
                                <mat-error *ngIf="person.get('identification_number')?.hasError('required')">
                                    Cédula es <strong>requerida</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div *ngIf="settings.showNameField" fxFlex="3 0 25%" class="item-cell">
                            <mat-form-field appearance="fill" fxFlex="100">
                                <input type="text" matInput formControlName="full_name" placeholder="Nombre completo"
                                    [readonly]="readOnly" />
                                <mat-error *ngIf="person.get('full_name')?.hasError('required')">
                                    Nombre es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div *ngIf="settings.showTypePersonField" fxFlex="1 1 15%" class="item-cell">
                            <mat-form-field appearance="fill" fxFlex="100">
                                <mat-select formControlName="type_person" placeholder="Tipo" [disabled]="readOnly">
                                    <mat-option *ngFor="let type of personTypes" [value]="type.id">
                                        {{ type.description }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="person.get('type_person')?.hasError('required')">
                                    Tipo es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div *ngIf="settings.showMovementTypeField" fxFlex="1 1 15%" class="item-cell">
                            <mat-radio-group formControlName="movement_type" fxLayout="column" fxLayoutGap="5px"
                                [disabled]="readOnly">
                                <mat-radio-button *ngFor="let mType of movementTypes" [value]="mType.id">
                                    {{ mType.text }}
                                </mat-radio-button>
                            </mat-radio-group>
                            <mat-error *ngIf="person.get('movement_type')?.hasError('required')"
                                style="display: block; margin-top: 5px;">
                                Movimiento es <strong>requerido</strong>
                            </mat-error>
                        </div>

                        <div *ngIf="settings.showHourField" fxFlex="1 1 10%" class="item-cell">
                            <ngx-timepicker-field formControlName="hour" [format]="24"
                                [disabled]="readOnly"></ngx-timepicker-field>
                            <mat-error *ngIf="person.get('hour')?.hasError('required')">
                                Hora es <strong>requerida</strong>
                            </mat-error>
                        </div>

                        <div *ngIf="settings.showReasonVisitField" fxFlex="1 1 15%" class="item-cell">
                            <mat-form-field fxFlex="100">
                                <textarea matInput placeholder="Motivo" formControlName="reason_visit"
                                    [readonly]="readOnly"></textarea>
                                <mat-error *ngIf="person.get('reason_visit')?.hasError('required')">
                                    Motivo es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 1 5%" class="item-cell" *ngIf="!readOnly">
                            <button mat-icon-button (click)="removePerson(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>

                    <!-- Sección de materiales/equipos si aplica -->
                    <div *ngIf="person.get('entry')?.value" fxLayout="row" fxLayoutGap="1px"
                        style="background: #f5f5f5; padding: 10px;">
                        <!-- Contenido similar al componente de materiales -->
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <!-- Versión móvil -->
    <div fxShow.lt-md fxHide="gt-sm">
        <div fxLayout="column" fxLayoutGap="10px">
            <ng-container *ngFor="let person of fPersons.controls; index as i;">
                <div [formGroup]="person" class="mobile-card">
                    <div fxLayout="row" fxLayoutGap="10px" *ngIf="settings.showTokenField">
                        <div fxFlex="30%" class="mobile-label">Cédula:</div>
                        <div fxFlex="70%">
                            <mat-form-field appearance="fill" fxFlex="100">
                                <input type="text" matInput formControlName="identification_number"
                                    [readonly]="readOnly" />
                                <mat-error *ngIf="person.get('identification_number')?.hasError('required')">
                                    Cédula es <strong>requerida</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutGap="10px" *ngIf="settings.showNameField">
                        <div fxFlex="30%" class="mobile-label">Nombre:</div>
                        <div fxFlex="70%">
                            <mat-form-field appearance="fill" fxFlex="100">
                                <input type="text" matInput formControlName="full_name" [readonly]="readOnly" />
                                <mat-error *ngIf="person.get('full_name')?.hasError('required')">
                                    Nombre es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutGap="10px" *ngIf="settings.showTypePersonField">
                        <div fxFlex="30%" class="mobile-label">Tipo:</div>
                        <div fxFlex="70%">
                            <mat-form-field appearance="fill" fxFlex="100">
                                <mat-select formControlName="type_person" [disabled]="readOnly">
                                    <mat-option *ngFor="let type of personTypes" [value]="type.id">
                                        {{ type.description }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="person.get('type_person')?.hasError('required')">
                                    Tipo es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutGap="10px" *ngIf="settings.showMovementTypeField">
                        <div fxFlex="30%" class="mobile-label">Movimiento:</div>
                        <div fxFlex="70%">
                            <mat-radio-group formControlName="movement_type" fxLayout="column" [disabled]="readOnly">
                                <mat-radio-button *ngFor="let mType of movementTypes" [value]="mType.id">
                                    {{ mType.text }}
                                </mat-radio-button>
                            </mat-radio-group>
                            <div *ngIf="person.get('movement_type')?.hasError('required')"
                                style="color: #f44336; font-size: 12px; margin-top: 5px;">
                                Movimiento es <strong>requerido</strong>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutGap="10px" *ngIf="settings.showHourField">
                        <div fxFlex="30%" class="mobile-label">Hora:</div>
                        <div fxFlex="70%">
                            <ngx-timepicker-field formControlName="hour" [format]="24"
                                [disabled]="readOnly"></ngx-timepicker-field>
                            <div *ngIf="person.get('hour')?.hasError('required')"
                                style="color: #f44336; font-size: 12px; margin-top: 5px;">
                                Hora es <strong>requerida</strong>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutGap="10px" *ngIf="settings.showReasonVisitField">
                        <div fxFlex="30%" class="mobile-label">Motivo:</div>
                        <div fxFlex="70%">
                            <mat-form-field fxFlex="100">
                                <textarea matInput formControlName="reason_visit" [readonly]="readOnly"></textarea>
                                <mat-error *ngIf="person.get('reason_visit')?.hasError('required')">
                                    Motivo es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngIf="!readOnly" style="text-align: right; margin-top: 10px;">
                        <button mat-raised-button color="warn" (click)="removePerson(i)">
                            <mat-icon>delete</mat-icon> Eliminar
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>