<div fxFlex="{{ settings?.percentage || defaultValues.percentage}}" fxLayoutGap="40px" fxLayout="column"
  style="padding-top: 10px; padding-bottom: 10px;">
  <div *ngIf="settings.testing" fxFlex fxLayout="row" fxLayoutAlign="space-around" style="height: 64px">
    <button mat-raised-button (click)="settings.showTokenField = !settings.showTokenField">
      {{ settings.showTokenField ? "Hide Token Field" : "Show Token Field" }}
    </button>
    <button mat-raised-button (click)="settings.showNameField = !settings.showNameField">
      {{ settings.showNameField ? "Hide Name Field" : "Show Name Field" }}
    </button>
    <button mat-raised-button (click)="settings.showProtocolField = !settings.showProtocolField">
      {{ settings.showProtocolField ? "Hide Protocol Field" : "Show Protocol Field" }}
    </button>
    <button mat-raised-button (click)="
        settings.showHealthConditionField = !settings.showHealthConditionField
      ">
      {{
      settings.showHealthConditionField
      ? "Hide Health Condition Field"
      : "Show Health Condition Field"
      }}
    </button>
    <button mat-raised-button (click)="settings.showCheckInField = !settings.showCheckInField">
      {{ settings.showCheckInField ? "Hide Check In Field" : "Show Check In Field" }}
    </button>
    <button mat-raised-button (click)="settings.showGuardStatusField = !settings.showGuardStatusField">
      {{
      settings.showGuardStatusField
      ? "Hide Guard Status Field"
      : "Show Guard Status Field"
      }}
    </button>
  </div>
  <div fxFlex="{{ settings.percentage }}" fxLayout="row" style="height: 50px">
    <form fxFlex="{{ settings.percentage }}" [formGroup]="fGStaff">
      <mat-form-field fxFlex="1 0 30%" appearance="fill" style="background-color: #ebebd3" *ngIf="!readOnly">
        <mat-label>Personal</mat-label>
        <mat-select #staffRef formControlName="staff" multiple>
          <mat-option *ngFor="let staffItem of staffArr" [value]="staffItem">
            {{ staffItem.name_and_surname }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div fxFlex fxLayout="row wrap" style="background-color: black" fxLayoutGap="1px grid">
    <div fxFlex="1 1 100%" fxLayout="row" style="height: 50px" fxLayoutGap="1px">
      <div *ngIf="settings.showTokenField" fxLayoutAlign="center center" fxFlex="2 0 18%" fxLayout="row"
        style="background-color: #ebebd3" class="item">
        Ficha
      </div>
      <div *ngIf="settings.showNameField" fxLayoutAlign="center center" fxFlex="3 0 25%" fxLayout="row"
        style="background-color: #ebebd3" class="item">
        Nombre y Apellido
      </div>
      <div *ngIf="settings.showProtocolField" fxLayoutAlign="center center" fxFlex="1 1 11%" fxLayout="row"
        style="background-color: #ebebd3; text-overflow: ellipsis" class="item">
        Cumplió Protocolo
      </div>
      <div *ngIf="settings.showHealthConditionField" fxLayoutAlign="center center" fxFlex="1 1 11%" fxLayout="row"
        style="background-color: #ebebd3" class="item">
        Estado de Salud
      </div>
      <div *ngIf="settings.showCheckInField" fxLayoutAlign="center center" fxFlex="1 1 11%" fxLayout="row"
        style="background-color: #ebebd3" class="item">
        Hora de Llegada
      </div>
      <div *ngIf="settings.showGuardStatusField" fxLayoutAlign="center center" fxFlex="1 1 13%" fxLayout="row"
        style="background-color: #ebebd3" class="item">
        Estado de su Guardia
      </div>
    </div>
    <!-- Begin to Dynamic Form -->
    <div fxFlex="{{ settings.percentage }}" fxLayout="row" *ngFor="let staff of fA.controls" fxLayoutGap="1px">
      <ng-container [formGroup]="staff">
        <div *ngIf="settings.showTokenField" fxLayoutAlign="center center" fxFlex="2 0 18%" fxLayout="row"
          style="background-color: #ebebd3" class="item">
          <mat-form-field appearance="fill">
            <mat-label>Cod. Ficha</mat-label>
            <input type="text" matInput formControlName="cod_ficha" placeholder="1234567890" [readonly]="readOnly" />
            <mat-error *ngIf="staff.controls.cod_ficha.hasError('required')">
              Ficha es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="settings.showNameField" fxLayoutAlign="center center" fxFlex="3 0 25%" fxLayout="row"
          style="background-color: #ebebd3" class="item">
          <mat-form-field appearance="fill">
            <mat-label>Nombre y Apellido</mat-label>
            <input type="text" matInput formControlName="name_and_surname" placeholder="Nombre Completo"
              [readonly]="readOnly" />
            <mat-error *ngIf="staff.controls.name_and_surname.hasError('required')">
              El nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="settings.showProtocolField" fxLayoutAlign="center center" fxFlex="1 1 11%" fxLayout="row"
          style="background-color: #ebebd3" class="item">
          <mat-slide-toggle formControlName="protocol" #protocolST [disabled]="readOnly">{{
            protocolST.checked ? "SI" : "NO"
            }}</mat-slide-toggle>
          <mat-error *ngIf="staff.controls.protocol.hasError('required')">
            Este campo es <strong>requerido</strong>
          </mat-error>
        </div>
        <div *ngIf="settings.showHealthConditionField" fxLayoutAlign="center center" fxFlex="1 1 11%" fxLayout="column"
          style="background-color: #ebebd3" class="item">
          <mat-radio-group style="margin: 15px 0" formControlName="health_condition" [disabled]="readOnly">
            <mat-radio-button *ngFor="let hC of healthConditions" style="margin: 5px" [value]="hC.id">{{ hC.text }}
            </mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="staff.controls.health_condition.hasError('required')">
            El estado de salud es <strong>requerido</strong>
          </mat-error>
        </div>
        <div *ngIf="settings.showCheckInField" fxLayoutAlign="center center" fxFlex="1 1 11%" fxLayout="column"
          style="background-color: #ebebd3" class="item">
          <ngx-timepicker-field #start [format]="24" [defaultTime]="'00:00'" [toggleIcon]="icon_start"
            formControlName="check_in" [disabled]="readOnly">
          </ngx-timepicker-field>
          <ng-template #icon_start>
            <mat-icon aria-hidden="false">schedule</mat-icon>
          </ng-template>
          <mat-error *ngIf="staff.controls.check_in.hasError('required')">
            La hora de llegada es <strong>requerida</strong>
          </mat-error>
        </div>
        <div *ngIf="settings.showGuardStatusField" fxLayoutAlign="center center" fxFlex="1 1 13%" fxLayout="column"
          style="background-color: #ebebd3" class="item">
          {{ settings.guardStatus }}
        </div>
      </ng-container>
    </div>
  </div>
</div>