<div fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="title" >Ingreso al Sistema</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="handleSubmit()" #login>

                <mat-form-field [hidden]="sendCodeSucces">
                    <mat-label>Usuario</mat-label>
                    <input matInput required placeholder="Por favor ingrese su usuario" [(ngModel)]="signinData.code"
                        [ngModelOptions]="{standalone: true}">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
                <mat-form-field *ngIf="!sendCodeSucces">
                    <mat-label>Contraseña</mat-label>
                    <input matInput required placeholder="Por favor ingrese su contraseña" [type]="hide ? 'password' : 'text'" [(ngModel)]="signinData.password"
                        [ngModelOptions]="{standalone: true}">
                    <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide code'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </span>
                </mat-form-field>
                <mat-form-field *ngIf="sendCodeSucces">
                    <mat-label>Codigo</mat-label>
                    <input matInput required [type]="hide ? 'password' : 'text'" [(ngModel)]="signinData.security_code"
                        [ngModelOptions]="{standalone: true}">
                    <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide code'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </span>
                </mat-form-field>

                <button mat-raised-button color="primary" class="btn-block" type="submit"
                    [disabled]="sendingCode || verifyCodeSubmit">{{ showVerifyCode ? 'Verificar' : 'Enviar Codigo' }}</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>