<div fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="handleSubmit()" #login>

                <mat-form-field *ngIf="!sendCodeSucces">
                    <mat-label>Usuario</mat-label>
                    <input matInput required placeholder="Usuario" [(ngModel)]="signinData.user"
                        [ngModelOptions]="{standalone: true}">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>

                <mat-form-field *ngIf="!sendCodeSucces">
                    <mat-label>Contrase#a</mat-label>
                    <input matInput required [type]="hide ? 'password' : 'text'" [(ngModel)]="signinData.password"
                        [ngModelOptions]="{standalone: true}">
                    <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide code'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </span>
                </mat-form-field>

                <mat-form-field *ngIf="sendCodeSucces">
                    <mat-label>Codigo</mat-label>
                    <input matInput required [type]="hide ? 'password' : 'text'" [(ngModel)]="signinData.codigocelular"
                        [ngModelOptions]="{standalone: true}">
                    <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide code'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </span>
                </mat-form-field>
                
                <button mat-raised-button color="primary" class="btn-block" type="submit"
                    [disabled]="sendingCode || verifyCodeSubmit">{{ showVerifyCode ? 'Verify' : 'Send Code' }}</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
