<ng-template #defaultTextTemplate let-column="column" let-i="i" let-item="item">
    {{getRealValue(item, column.dataAttribute || column.attribute, column.shortUUID) || column.default || textDefault}}
</ng-template>

<ng-template #defaultImgTemplate let-column="column" let-item="item" let-i="i">
    <img alt="imagen" *ngIf="!column.routerLink && column.type === 'img'" height="50" width="50"
        [src]="getRealValue(item, column.dataAttribute || column.attribute) || column.default || imgDefault">
</ng-template>

<ng-template #defaultBoolTemplate let-column="column" let-item="item" let-i="i">
    {{siNo(getRealValue(item, column.dataAttribute || column.attribute) || column.default)}}
</ng-template>

<ng-template #defaultDateTemplate let-column="column" let-item="item" let-i="i">
    {{getRealValue(item, column.dataAttribute || column.attribute)| date: (column.dateFormat || defaultDateFormat)}}
</ng-template>

<ng-template #defaultJsonTemplate let-column="column" let-item="item" let-i="i">
    <span *ngFor="let _item of getRealValue(item, column.attribute)|keyvalue">
        <span *ngIf="_item.value"> <strong>{{_item.key|titlecase}}: </strong> {{_item.value}} <br /></span>
    </span>
</ng-template>
<div class="example-container">
    <div class="d-flex flex-wrap" fxLayout="row">
        <span class="check-externo" fxFlex.gt-xs="20" fxFlex="20" *ngIf="checkBoxColumn === true">
            <mat-checkbox name="cbColumn" [checked]="checkAllValue" (change)="checkAll($event)">
            </mat-checkbox>
        </span>
        <!-- fxFlex.gt-sm="80"  -->

        <mat-form-field fxFlex.gt-xs="80" fxFlex="80" *ngIf="showFilter === true">
            <input matInput (change)="applyFilter2($event.target.value)" placeholder="Filtrar">
        </mat-form-field>
        <button fxFlex.gt-xs="10" fxFlex.gt-sm="10" fxFlex="10" *ngIf="btnRefresh === true" mat-button color="primary"
            (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
        <button fxFlex.gt-xs="10" fxFlex.gt-sm="10" fxFlex="10" *ngIf="btnExcel === true" mat-button color="primary"
            (click)="exportAsXLSX()">
            <mat-icon>archive</mat-icon>
        </button>
    </div>
    <div align="center" *ngIf="cargando">
        <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
        <table mat-table matSort [hidden]="cargando" multiTemplateDataRows matTableResponsive [dataSource]="dataSource"
            #tablaMaster>
            <ng-container *ngFor="let column of columns; index as i;"
                [cdkColumnDef]="column.dataAttribute || column.attribute">
                <th mat-header-cell *cdkHeaderCellDef mat-sort-header>
                    <span *ngIf="checkBoxColumn === true && column.attribute === 'cbColumn'">
                        <mat-checkbox name="cbColumn" [checked]="checkAllValue" (change)="checkAll($event)">
                        </mat-checkbox>
                    </span>
                    {{column.header || column.attribute?.replace('_', ' ') | titlecase}}
                </th>
                <td mat-cell *cdkCellDef="let item; index as i">
                    <mat-checkbox
                        *ngIf="!column.template && column.attribute === 'cbColumn' && (showCheck?showCheck(item):true)"
                        [checked]="checkBoxValue[getRealValue(item, checkColumnAttribute)]"
                        (change)="cbColumnChange($event, i)">
                    </mat-checkbox>
                    <!-- Plantilla personalizada -->
                    <span *ngIf="column.template" [ngTemplateOutlet]="templates[column.template]"
                        [ngTemplateOutletContext]="{column: column, i:i, item: item}"></span>

                    <!-- Enlace -->
                    <a *ngIf="!column.template && column.routerLink"
                        [routerLink]="[column.routerLink,getRealValue(item, column.routerLinkAttribute || defaultRouterLinkAttribute)]">{{getRealValue(item,
                        column.dataAttribute || column.attribute, column.shortUUID)}}
                    </a>

                    <!-- Imagen -->
                    <span *ngIf="!column.template && !column.routerLink && column.type === 'img'"
                        [ngTemplateOutlet]="defaultImgTemplate"
                        [ngTemplateOutletContext]="{column: column, i:i, item: item}"></span>

                    <!-- Fecha -->
                    <span *ngIf="!column.template && !column.routerLink && column.type === 'date'"
                        [ngTemplateOutlet]="defaultDateTemplate"
                        [ngTemplateOutletContext]="{column: column, i:i, item: item}">
                    </span>

                    <!-- SI/NO -->
                    <span *ngIf="!column.template && !column.routerLink && column.type === 'bool'"
                        [ngTemplateOutlet]="defaultBoolTemplate"
                        [ngTemplateOutletContext]="{column: column, i:i, item: item}">
                    </span>

                    <!-- JSON -->
                    <span *ngIf="!column.template && !column.routerLink && column.type === 'json'"
                        [ngTemplateOutlet]="defaultJsonTemplate"
                        [ngTemplateOutletContext]="{column: column, i:i, item: item}">
                    </span>
                    <!-- Defecto (texto) -->
                    <span
                        *ngIf="column.attribute !== 'cbColumn' && !column.template && !column.routerLink && column.type !== 'date' && column.type !== 'img' && column.type !== 'bool' && column.type !== 'json'"
                        [ngTemplateOutlet]="defaultTextTemplate"
                        [ngTemplateOutletContext]="{column: column, i:i, item: item}">
                    </span>
                </td>
            </ng-container>
            <ng-container *ngFor="let column of columns; index as idx;"
                [cdkColumnDef]="column.dataAttribute ? column.dataAttribute + '-filters' : column.attribute + '-filters'">
                <th mat-header-cell *cdkHeaderCellDef>
                    <div *ngIf="!column.hideFilter && column.attribute != 'cbColumn'">
                        <mat-form-field class="row-filter" *ngIf="column.disableFilter !== true && column.type==='bool' &&
                        !column.hideFilter">
                            <mat-select (selectionChange)="applyFilter2($event, idx, true)" value=""
                                [name]="'search-' + column.attribute" class="form-control form-control-sm">
                                <mat-option value="">TODOS</mat-option>
                                <mat-option value="true">SI</mat-option>
                                <mat-option value="false">NO</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="row-filter"
                            *ngIf="column.disableFilter !== true && filters[idx]?.type === 'select'  && !column.hideFilter">
                            <mat-select [name]="'search-' + column.attribute"
                                (selectionChange)="applyFilter2($event, idx, true)" value=""
                                [multiple]="filters[idx]?.multiple">
                                <mat-option *ngFor="let option of filters[idx].options"
                                    [value]="getRealValue(option, filters[idx].optionValueAttribute || defaultOptionValueAttribute)">
                                    {{getRealValue(option, filters[idx].optionDisplayAttribute ||
                                    defaultOptionDisplayAttribute)}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="row-filter"
                            *ngIf="column.disableFilter !== true && (filters[idx]?.type === 'html' || !filters[idx]) && column.type !== 'bool'  && !column.hideFilter">
                            <input color="primary" placeholder="filtrar" matInput
                                [type]="filters[idx]?.dataType || 'text'" [name]="'search-' + column.attribute"
                                (change)="applyFilter2($event, idx, true)" />
                        </mat-form-field>
                        <div class="row-filter"
                            *ngIf="column.disableFilter !== true && filters[idx]?.type === 'range' && filters[idx].dataType === 'number'  && !column.hideFilter">
                            <mat-form-field>
                                <input type="number" color="primary" placeholder="min" matInput
                                    [name]="'min_' + column.attribute + '_range-min'"
                                    class="form-control form-control-sm" (change)="applyFilter2($event, idx, true)" />
                            </mat-form-field>
                            <mat-form-field>
                                <input type="number" color="primary" placeholder="max" matInput
                                    [name]="'max_' + column.attribute + '_range-max'"
                                    class="form-control  form-control-sm" (change)="applyFilter2($event, idx, true)" />
                            </mat-form-field>
                        </div>
                        <div class="row-filter"
                            *ngIf="column.disableFilter !== true && filters[idx]?.type === 'range' && filters[idx].dataType === 'date'  && !column.hideFilter">
                            <mat-form-field>
                                <input type="date" color="primary" placeholder="desde" matInput
                                    [name]="'min_' + column.attribute + '_date-min'"
                                    class="form-control form-control-sm" (change)="applyFilter2($event, idx, true)" />
                            </mat-form-field>
                            <mat-form-field>
                                <input #dateMax type="date" color="primary" placeholder="hasta" matInput
                                    [name]="'max_' + column.attribute + '_date-max'"
                                    class="form-control form-control-sm" (change)="applyFilter2($event, idx, true)" />
                            </mat-form-field>
                        </div>
                    </div>
                </th>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let item; index as i" [attr.colspan]="columns.length">
                    <div class="example-element-detail"
                        [@detailExpand]="item == expandedElement ? 'expanded' : 'collapsed'">
                        <!-- Plantilla personalizada para el Collapsed -->
                        <span *ngIf="templateCollapsed.template !== ''" [ngTemplateOutlet]="templateCollapsed.template"
                            [ngTemplateOutletContext]="{i:i, item: item}"></span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="noData">
                <td mat-footer-cell *matFooterCellDef [attr.colspan]="columns.length">
                    <div align="center">{{messageNoData}}</div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="parseColumns(columns);"></tr>
            <tr mat-header-row *matHeaderRowDef="parseColumnsFilters(columns);" [ngClass]="{'hide': !showFilters}">
            </tr>
            <tr mat-row *matRowDef="let row; columns: parseColumns(columns)" class="example-element-row"
                [class.example-expanded-row]="expandedElement === row"
                (click)="expandedElement = expandedElement === row ? null : row"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"
                [ngClass]="{'hide':templateCollapsed.template === ''}"></tr>
            <tr mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="paginatorOptions.pageSizeOptions" [length]="paginatorOptions.length"
            [pageSize]="pageSize" *ngIf="!cargando && is_paged" (page)="pageEvent($event)" showFirstLastion-buttons
            [hidden]="paging">
        </mat-paginator>
    </div>
</div>