<div fxFlex="{{ settings?.percentage || defaultValues.percentage}}" fxLayoutGap="40px" fxLayout="column"
    style="padding-top: 10px; padding-bottom: 10px;">
    <div fxLayoutAlign="end center" fxFlex="100%" fxLayout="row" *ngIf="!readOnly" style="margin: 10px;">
        <!-- fxFlex="1 0 10%" -->
        <button mat-raised-button color="primary" (click)="createVehicle()" type="button">
            Nuevo
        </button>
    </div>
    <div fxFlex="{{ settings.percentage }}" fxLayout="row" style="height: 50px">
        <form fxFlex="{{ settings.percentage }}" [formGroup]="fGVehicles">
            <div fxFlex fxLayout="row wrap" fxLayoutGap="1px grid">
                <mat-form-field fxFlex="1 0 30%" appearance="fill" *ngIf="!readOnly">
                    <mat-label>Placa</mat-label>
                    <input matInput placeholder="Placa" [(ngModel)]="vehiclesCurrent.license_plate"
                        [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
                <button mat-raised-button fxFlex="1 0 10%" style="height: 50px" (click)="addVehicle()" *ngIf="!readOnly"
                    [disabled]="!vehiclesCurrent.license_plate">
                    Agregar
                </button>
            </div>
        </form>
    </div>
    
    <div class="d-flex flex-wrap">
               <ng-template #templateOpciones let-column="column" let-item="item" let-i="i">
                        <button mat-raised-button type="button">
                          <mat-icon (click)=" removeVehicle(i)">delete_sweep</mat-icon>
                        </button>
                    
                </ng-template>
                <ng-template #templatePlaca let-column="column" let-item="item" let-i="i">
                    <ng-container [formGroup]="item"> 
                             <mat-form-field appearance="fill">
                                <mat-label>Placa</mat-label>
                                <input type="text" matInput formControlName="license_plate" placeholder="" [readonly]="true" />
                                <mat-error *ngIf="item.controls.license_plate.hasError('required')">
                                    La placa es <strong>requerida</strong>
                                </mat-error>
                            </mat-form-field>
                        
                    </ng-container>
                </ng-template>
                <ng-template #templateNombre let-column="column" let-item="item" let-i="i">
                    <ng-container [formGroup]="item"> 
                            <mat-form-field appearance="fill">
                                <mat-label>Nombre y apellido</mat-label>
                                <input type="text" matInput formControlName="owner_full_name" placeholder="Nombre y Apellido"
                                    [readonly]="readOnly" />
                                <mat-error *ngIf="item.controls.owner_full_name.hasError('required')">
                                    El nombre es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        
                    </ng-container>
                </ng-template>
                <ng-template #templatePropietario let-column="column" let-item="item" let-i="i">
                       <ng-container [formGroup]="item"> 
                            <mat-radio-group style="margin: 15px 0" formControlName="owner_type" [disabled]="readOnly">
                                 <mat-radio-button *ngFor="let oT of ownerTypes" style="margin: 5px" [value]="oT.id">{{
                                    oT.text }}
                                 </mat-radio-button>
                            </mat-radio-group>
                            <mat-error *ngIf="item.controls.owner_type.hasError('required')">
                                El tipo de Propietario es <strong>requerido</strong>
                            </mat-error>
                        </ng-container> 
                </ng-template>  
                <ng-template #templateMovimiento let-column="column" let-item="item" let-i="i">
                    <ng-container [formGroup]="item"> 
                             <mat-radio-group style="margin: 15px 0" formControlName="movement_type" [disabled]="readOnly">
                                <mat-radio-button *ngFor="let mT of movementTypes" style="margin: 5px" [value]="mT.id">{{
                                     mT.text }}
                                </mat-radio-button>
                            </mat-radio-group>
                            <mat-error *ngIf="item.controls.movement_type.hasError('required')">
                                El tipo de movimiento es <strong>requerido</strong>
                            </mat-error>
                        
                    </ng-container> 
                </ng-template>
                <ng-template #templateHora let-column="column" let-item="item" let-i="i">
                    <ng-container [formGroup]="item"> 
                              <ngx-timepicker-field #hourP [format]="24" [defaultTime]="'00:00'" [toggleIcon]="icon_hour"
                                formControlName="hour" [disabled]="readOnly">
                            </ngx-timepicker-field>
                            <ng-template #icon_hour>
                                <mat-icon aria-hidden="false">schedule</mat-icon>
                            </ng-template>
                            <mat-error *ngIf="item.controls.hour.hasError('required')">
                                La hora es <strong>requerida</strong>
                            </mat-error>
                        
                     </ng-container>    
                </ng-template>
                <ng-template #templateHerramienta let-column="column" let-item="item" let-i="i">
                    <ng-container [formGroup]="item"> 
                                 <mat-slide-toggle formControlName="entry" #entryST [disabled]="readOnly">{{
                                    entryST.checked ? "SI" : "NO"
                                 }}</mat-slide-toggle>
                                <mat-error *ngIf="item.controls.entry.hasError('required')">
                                    El ingreso es <strong>requerido</strong>
                                </mat-error>
                        
                    </ng-container>   
                </ng-template>
                <ng-template #templateProtocolo let-column="column" let-item="item" let-i="i">
                    <ng-container [formGroup]="item"> 
                                <mat-slide-toggle formControlName="protocol" #protocolST [disabled]="readOnly">{{
                                 protocolST.checked ? "SI" : "NO"}}
                                </mat-slide-toggle>
                            <mat-error *ngIf="item.controls.protocol.hasError('required')">
                                Este campo es <strong>requerido</strong>
                            </mat-error>
                    </ng-container>    
                </ng-template>
                
                
    
    <app-generic-table [hidden]="fGVehicles.value.length ===0"  fxFlex="100" [columns]="columnsVehiculos" [showFilter]="false" [btnRefresh]="false"
     [is_paged]="false" [templates]="{opciones: templateOpciones, idplaca: templatePlaca, idnombre: templateNombre,idtipop: templatePropietario, idtipom: templateMovimiento,  idhora: templateHora,  idheq: templateHerramienta,idprotocolo: templateProtocolo}" #tableVehiculos>
    </app-generic-table>   
            
            
    </div>        
    
</div>