<div fxFlex="{{ settings?.percentage || defaultValues.percentage}}" fxLayoutGap="40px" fxLayout="column"
    style="padding-top: 10px; padding-bottom: 10px;">
    <div fxLayoutAlign="end center" fxFlex="100%" fxLayout="row" *ngIf="!readOnly" style="margin: 10px;">
        <!-- fxFlex="1 0 10%" -->
        <button mat-raised-button color="primary" (click)="createVehicle()" type="button">
            Nuevo
        </button>
    </div>
    <div fxFlex="{{ settings.percentage }}" fxLayout="row" style="height: 50px">
        <form fxFlex="{{ settings.percentage }}" [formGroup]="fGVehicles">
            <div fxFlex fxLayout="row wrap" fxLayoutGap="1px grid">
                <mat-form-field fxFlex="1 0 30%" appearance="fill" *ngIf="!readOnly">
                    <mat-label>Placa</mat-label>
                    <input matInput placeholder="Placa" [(ngModel)]="vehiclesCurrent.license_plate"
                        [ngModelOptions]="{standalone: true}" />
                </mat-form-field>
                <button mat-raised-button fxFlex="1 0 10%" style="height: 50px" (click)="addVehicle()" *ngIf="!readOnly"
                    [disabled]="!vehiclesCurrent.license_plate">
                    Agregar
                </button>
            </div>
        </form>
    </div>
    
    <div class="d-flex flex-wrap" >
               <ng-template #templateOpciones let-column="column" let-item="item" let-i="i">
                        <button mat-raised-button type="button">
                          <mat-icon (click)=" removeVehicle(i)">delete_sweep</mat-icon>
                        </button>
                    
                </ng-template>
                <ng-template #templatePlaca let-column="column" let-item="item" let-i="i">
                    <ng-container [formGroup]="item"> 
                            <mat-form-field appearance="fill">
                                <mat-label>Placa</mat-label>
                                <input type="text" matInput formControlName="license_plate" placeholder="" [readonly]="true" />
                                <mat-error *ngIf="item.controls.license_plate.hasError('required')">
                                    La placa es <strong>requerida</strong>
                                </mat-error>
                            </mat-form-field>
                        
                    </ng-container>
                </ng-template>
                <ng-template #templateNombre let-column="column" let-item="item" let-i="i">
                    <ng-container [formGroup]="item"> 
                            <mat-form-field appearance="fill">
                                <mat-label>Nombre y apellido</mat-label>
                                <input type="text" matInput formControlName="owner_full_name" placeholder="Nombre y Apellido"
                                    [readonly]="readOnly" />
                                <mat-error *ngIf="item.controls.owner_full_name.hasError('required')">
                                    El nombre es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        
                    </ng-container>
                </ng-template>
                <ng-template #templatePropietario let-column="column" let-item="item" let-i="i">
                       <ng-container [formGroup]="item"> 
                            <mat-radio-group style="margin: 15px 0" formControlName="owner_type" [disabled]="readOnly">
                                 <mat-radio-button *ngFor="let oT of ownerTypes" style="margin: 5px" [value]="oT.id">{{
                                    oT.text }}
                                 </mat-radio-button>
                            </mat-radio-group>
                            <mat-error *ngIf="item.controls.owner_type.hasError('required')">
                                El tipo de Propietario es <strong>requerido</strong>
                            </mat-error>
                        </ng-container> 
                </ng-template>  
                <ng-template #templateMovimiento let-column="column" let-item="item" let-i="i">
                    <ng-container [formGroup]="item"> 
                             <mat-radio-group style="margin: 15px 0" formControlName="movement_type" [disabled]="readOnly">
                                <mat-radio-button *ngFor="let mT of movementTypes" style="margin: 5px" [value]="mT.id">{{
                                     mT.text }}
                                </mat-radio-button>
                            </mat-radio-group>
                            <mat-error *ngIf="item.controls.movement_type.hasError('required')">
                                El tipo de movimiento es <strong>requerido</strong>
                            </mat-error>
                        
                    </ng-container> 
                </ng-template>
                <ng-template #templateHora let-column="column" let-item="item" let-i="i">
                    <ng-container [formGroup]="item"> 
                              <ngx-timepicker-field #hourP [format]="24" [defaultTime]="'00:00'" [toggleIcon]="icon_hour"
                                formControlName="hour" [disabled]="readOnly">
                            </ngx-timepicker-field>
                            <ng-template #icon_hour>
                                <mat-icon aria-hidden="false">schedule</mat-icon>
                            </ng-template>
                            <mat-error *ngIf="item.controls.hour.hasError('required')">
                                La hora es <strong>requerida</strong>
                            </mat-error>
                        
                     </ng-container>    
                </ng-template>
                <ng-template #templateHerramienta let-column="column" let-item="item" let-i="i">
                    <ng-container [formGroup]="item"> 
                                 <mat-slide-toggle formControlName="entry" #entryST [disabled]="readOnly">{{
                                    entryST.checked ? "SI" : "NO"
                                 }}</mat-slide-toggle>
                                <mat-error *ngIf="item.controls.entry.hasError('required')">
                                    El ingreso es <strong>requerido</strong>
                                </mat-error>
                        
                    </ng-container>   
                </ng-template>
                <ng-template #templateProtocolo let-column="column" let-item="item" let-i="i">
                    <ng-container [formGroup]="item"> 
                                <mat-slide-toggle formControlName="protocol" #protocolST [disabled]="readOnly">{{
                                 protocolST.checked ? "SI" : "NO"}}
                                </mat-slide-toggle>
                            <mat-error *ngIf="item.controls.protocol.hasError('required')">
                                Este campo es <strong>requerido</strong>
                            </mat-error>
                    </ng-container>    
                </ng-template>
                 <!-- Inicio Bloque Collapsed -->
                <ng-template #templateC let-column="column" let-item="item" let-i="i" >
                  <ng-container [formGroup]="item" > 
                        <div fxLayout="row wrap" *ngIf="settings.showEntryField && item.controls.entry.value === true"
                          fxLayoutGap="5px grid" fxFlex="100" style="background-color: #ffffff" class="item mat-toolbar">
                        <div fxLayoutAlign="center center" fxFlex="100" fxLayout="column"
                            class="item mat-toolbar mat-primary">
                            Objetos maquinas herramientas o equipos con que ingresa
                            (Si son mas de dos solicite relación aparte con estos datos)
                        </div>
                        <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="2 1 40%"
                             fxLayout="column">
                           <mat-form-field appearance="fill">
                              <mat-label>Descripción</mat-label>
                              <input type="text" matInput placeholder="Descripción"
                                [(ngModel)]="materialCurrent.description" [ngModelOptions]="{standalone: true}" />
                            </mat-form-field>
                        
                         </div>
                        <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="3 1 30%"
                              fxLayout="column">
                                <mat-form-field appearance="fill">
                                    <mat-label>Marca</mat-label>
                                    <input type="text" matInput placeholder="Marca" [(ngModel)]="materialCurrent.mark"
                                    [ngModelOptions]="{standalone: true}" />
                                </mat-form-field>
                         </div>
                         <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="1 1 30%"
                                fxLayout="column">
                                <mat-form-field appearance="fill">
                                    <mat-label>Modelo</mat-label>
                                    <input type="text" matInput placeholder="Modelo" [(ngModel)]="materialCurrent.model"
                                         [ngModelOptions]="{standalone: true}" />
                                </mat-form-field>
                            </div>
                          <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="1 1 30%"
                                fxLayout="column">
                                <mat-form-field appearance="fill">
                                    <mat-label>Color</mat-label>
                                    <input type="text" matInput placeholder="Color" [(ngModel)]="materialCurrent.color"
                                     [ngModelOptions]="{standalone: true}" />
                                </mat-form-field>
                            </div>
                          <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="1 1 30%"
                                fxLayout="column">
                                <mat-form-field appearance="fill">
                                  <mat-label>Serial</mat-label>
                                  <input type="text" matInput placeholder="Serial" [(ngModel)]="materialCurrent.serial"
                                       [ngModelOptions]="{standalone: true}" />
                                </mat-form-field>
                          </div>
                          <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="1 1 10%"
                              fxLayout="column">
                                <mat-form-field appearance="fill">
                                    <mat-label>Año</mat-label>
                                    <input type="text" matInput placeholder="Ano" [(ngModel)]="materialCurrent.year"
                                         [ngModelOptions]="{standalone: true}" />
                                </mat-form-field>
                            </div>
                            <div *ngIf="!readOnly" fxLayoutAlign="center center" class="item" fxFlex="1 1 15%"
                                    fxLayout="column">
                                <mat-form-field appearance="fill">
                                     <mat-label>Placa</mat-label>
                                    <input type="text" matInput placeholder="Placa" [(ngModel)]="materialCurrent.license_plate"
                                         [ngModelOptions]="{standalone: true}" />
                                </mat-form-field>
                                
                            </div>
                            <div *ngIf="!readOnly" fxLayoutAlign="center center" fxFlex="1 1 10%" fxLayout="column">
                                <button mat-raised-button type="button" style="height: 50px" (click)="addMaterial(i)">
                                    Agregar
                                </button>
                            </div>

                                                        
                               
                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                                    <!-- Position Column -->
                                       <ng-container matColumnDef="description">
                                           <th mat-header-cell *matHeaderCellDef>Descripcion</th>
                                           <td mat-cell *matCellDef="let element">{{element.description}}</td>
                                       </ng-container>
                                 
                                        <!-- Name Column -->
                                       <ng-container matColumnDef="mark">
                                           <th mat-header-cell *matHeaderCellDef>Marca</th>
                                           <td mat-cell *matCellDef="let element">{{element.mark}}</td>
                                       </ng-container>
                                 
                                       <!-- Weight Column -->
                                       <ng-container matColumnDef="model">
                                           <th mat-header-cell *matHeaderCellDef>Modelo</th>
                                           <td mat-cell *matCellDef="let element">{{element.model}}</td>
                                       </ng-container>
                                 
                                       <!-- Symbol Column -->
                                       <ng-container matColumnDef="color">
                                           <th mat-header-cell *matHeaderCellDef>Color</th>
                                           <td mat-cell *matCellDef="let element">{{element.color}}</td>
                                       </ng-container>
                                       <ng-container matColumnDef="serial">
                                           <th mat-header-cell *matHeaderCellDef>Serial</th>
                                           <td mat-cell *matCellDef="let element">{{element.serial}}</td>
                                       </ng-container>
                                       <ng-container matColumnDef="year">
                                           <th mat-header-cell *matHeaderCellDef>Ano</th>
                                           <td mat-cell *matCellDef="let element">{{element.year}}</td>
                                       </ng-container>
                                       <ng-container matColumnDef="license_plate">
                                           <th mat-header-cell *matHeaderCellDef>Placa</th>
                                           <td mat-cell *matCellDef="let element">{{element.license_plate}}</td>
                                       </ng-container>
                                       <ng-container matColumnDef="star">
                                        <th mat-header-cell *matHeaderCellDef>Option</th>
                                        <td mat-cell *matCellDef="let element"> 
                                          <button mat-icon-button (click)="removeMaterial(i, i_material)">
                                            <mat-icon>delete_sweep</mat-icon>
                                          </button>
                                        </td>
                                      </ng-container>
                                       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                 </table>
                                   <div fxLayout="row" fxFlex="100" *ngFor="let material of item.controls.materials.value.value; index as in_material;" fxLayoutGap="1px">
                                    <div fxLayoutAlign="center center" fxFlex="1 0 25%" fxLayout="column" class="item">
                                        {{material.description}}
                                   </div>
                                   <div fxLayoutAlign="center center" fxFlex="2 0 15%" fxLayout="column" class="item">
                                       {{material.mark}}
                                   </div>
                                   <div fxLayoutAlign="center center" fxFlex="3 0 15%" fxLayout="column" class="item">
                                       {{material.model}} 
                                   </div>
                                   <div fxLayoutAlign="center center" fxFlex="1 0 10%" fxLayout="column" class="item">
                                       {{material.color}}
                                   </div>
                                   <div fxLayoutAlign="center center" fxFlex="1 0 10%" fxLayout="column" class="item">
                                       {{material.serial}}
                                   </div>
                                   <div fxLayoutAlign="center center" fxFlex="1 0 10%" fxLayout="column" class="item">
                                       {{material.year}}
                                   </div>
                                   <div fxLayoutAlign="center center" fxFlex="2 0 10%" fxLayout="column" class="item">
                                        {{material.license_plate}}
                                   </div>
                                   <div fxFlex="1 1 5%" fxLayoutAlign="center center" fxLayout="column" class="item"
                                       *ngIf="!readOnly">
                                       <button mat-raised-button type="button" (click)="removeMaterial(i, i_material)">
                                           <mat-icon>delete_sweep</mat-icon>
                                       </button>
                                    </div>
                                                                   
                               </div>
                            
                        </div>
                    </ng-container>    
                  </ng-template>
            
                  <!-- Fin del Bloque Collapsed -->
    <app-generic-table  [openHoverCollapsed]="true" [hidden]="fVehicles.value.length===0"  fxFlex="100" [columns]="columnsVehiculos" [showFilter]="false" [btnRefresh]="false" 
     [is_paged]="false" [templateCollapsed]="{template:templateC}" [templates]="{opciones: templateOpciones, idplaca: templatePlaca, idnombre: templateNombre,idtipop: templatePropietario, idtipom: templateMovimiento,  idhora: templateHora,  idheq: templateHerramienta,idprotocolo: templateProtocolo}" #tableVehiculos>
    </app-generic-table>   
            
            
    </div>        
    
</div>