/* styles.css */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Estilos para ngx-timepicker-field */
ngx-timepicker-field {
  transform: scale(0.75);
}

.ngx-timepicker {
  font-size: 12px;
}

.timepicker__header {
  padding: 6px;
}

.timepicker__body {
  padding: 6px;
}

.timepicker__button {
  width: 20px;
  height: 20px;
}

.timepicker__input {
  width: 30px;
  font-size: 12px;
}