<!--div class="input-group">
  <input type="text" class="form-control" (click)="c.toggle()" ngbDatepicker #c="ngbDatepicker"
  language="es">
</div-->
<link href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css" rel="stylesheet">
<div class="row">
  <!--div class="input-group">
    <input type="text" width="25px"
           class="form-control"
           #dp="bsDatepicker"
           bsDatepicker
           [bsValue]="bsValue"
           [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" >
  
  
    <button class="btn btn-success" (click)="dp.toggle()" 
    [attr.aria-expanded]="dp.isOpen">D</button-->
  <!--form [formGroup]="fecha"-->
  <!--input type="text" width="25px"
         class="form-control"
         bsDatepicker
         value="{{ date | date:'dd/MM/yyyy HH:mm'"
         formControlName="date"
  -->
  <div class="input-group">
    <!--input autocomplete="off" class="form-control" name="date"
    bsValueChange="onSubmit($event)" bsDatepicker
    [ngModel] ="dt | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event" >
  </div>
  <input type="date" [ngModel] ="dt | date:'dd-MM-yyyy'" (ngModelChange)="dt = $event"-->

    <!--div class=" form-group"-->
    <!------input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker
           placeholder="dd/mm/yyyy"
           [bsConfig]="{ isAnimated: true}"
           [(ngModel)]="newVar"
           value="{{ newVar | date:'dd/MM/yyyy' }}"
  -----><!-- para setting value| date:'yyyy-MM-dd'-->

    <!--input name="date" [(ngModel)]="today" type="date" required>
    <input id="from" name="from"
  bsDatepicker ngModel
  [(bsValue)]="newVar"
  value="{{ newVar | date:'yyyy-MM-dd' }}" onblur="printer()">

  <input type="text" bsDatepicker [(bsValue)]="newVar" value="{{ newVar | date:'yyyy-MM-dd' }}">
  <input type="text" [(ngModel)]="date"-->
    <!--input type="date" [(ngModel)]="newVar" value="newVar | date:'yyyy-MM-dd'"-->
  </div>
  <div class="row ">
    <div class=" form-group ">
      <input type="text"
             class="form-control"
             placeholder="Datepicker"
             bsDatepicker
             [(ngModel)]="myDate"
             name="date"
             value="{{myDate | date:'dd/MM/yyyy hh:mm:ss' }}"
      />
      <input type="text" value="{{myDate | date:'yyyy-MM-dd hh:mm:ss' }}" hidden name="search-fecha">
    </div>
    <pre class="code-preview ">{{myDate  }}</pre>
  </div>

  <!--pre class="code-preview"> {{fecha.value | amLocale:'es'}}</pre>
  </div-->
